[2014-08-13 16:33] sam-github opened #15 ".env doesn't get re-read after SIGHUP/chdir to the possibly new PWD"
On Wed, Aug 13, 2014 at 8:28 AM, Lee Driscoll lsdriscoll@gmail.com wrote:

OK, good catch. The .env file is loaded when the supervisor starts... and if you are using the restart-in-place behaviour, it never starts again, and never notices the new .env file.

It needs to reevaluate the .env after handling SIGHUP and before it begins restarting workers.

In order to make sure .env settings that are

[2014-08-20 19:38] sam-github opened #18 "node-gyp requires home to specified by environment variables"
From Lee Driscoll:

When deploying through strong-pm, the npm rebuild phase returns the following error:

Error: node-gyp requires that the user's home directory is specified in either of the environmental variables HOME or USERPROFILE

Googling that message shows people having this problem across various systems and fixing it by setting $HOME explicitly at the start of their script.

Using the .e

[2014-08-22 16:01] #18 closed, assigned to nobody

[2014-09-05 21:41] chandadharap opened #22 "add keywords to package.json"
ops, devops, process manager, process, nodeops, cluster

[2014-09-05 22:36] #22 closed, assigned to sam-github

[2014-09-19 01:09] pungoyal opened #25 "Moving to systemd"
Is it on the roadmap?

[2014-09-23 04:37] sam-github opened #27 "Make statsd/metrics usage more seamless"
- start etsy/statsd as a child of pm
- provide metrics as an option to slc run, pointing at child statsd

Fixups:
- [x] console:?pretty -> `debug:`,. leave multi-line
- [x] console:, lose the pretty, and make it single-line-per metric
- [x] direct file log of stats
- [x] statsd-udpkv-backend not dep of strong-statsd
- [x] error and exit on invalid metrics URL format
- [x] add new URLs to help outp

[2014-10-03 04:42] kraman opened #29 "Expose pmctl commands as REST API (compatible with strong-scheduler)"
- [x] make the common models a dependency
- [x] add lb scaffolding
- [x] basic model init
- [x] sync of deploy state (easier, all pm, just store it): commit SHA, or the pack equiv (already done)
- [x] sync of worker state with service instance (supervisor pushing, pm storing)
- [ ] detect and report port workers are listening on... will be some heuristics here! maybe not MVP?
- [ ] delete actions

[2014-10-03 17:07] sam-github opened #30 "Extend pmctl to work remotely, using rest APIs"
This depends on #29 for the http API.

We will add an option and enviroment variable so slc pmctl can work against a remote HTTP API, something like `slc pmctl --control=http://HOST:PORT ... any current pmctl command...`

[2014-10-07 11:07] estliberitas opened #32 "ENOENT while deploying"
Hello, guys. I'm using Puppet to deploy applications on servers.

Puppet [Node.js module](https://github.com/willdurand/puppet-nodejs) installs Node.js in `/usr/local/node/node-default` and provides `/etc/profile.d/nodejs.sh` to extend `PATH` variable to keep `/usr/local/node/node-default/bin`.

When I do deploy, strong-pm executes `npm rebuild` and since PATH is limited (due to [nature of su](htt

[2014-10-09 22:03] kraman opened #33 "Add authentication and authorization support for PM Rest APIs"
- [ ] Add OAuth or loopback-auth (auth.sl.com) support to authenticate users
- [ ] Check against a list of authorized users. (stored in a config file ?)
- [ ] Auth should also protect git and tgz deployments

[2014-10-16 23:32] bitmage opened #36 "pm-install doesn't set permissions for base directory"
I think pm-install needs to chown the base directory to the strong-pm user.

When I ran:

[code]

It installed and ran successfully, but when I tried to deploy I got:

[code]

Through some trial and error I found that the /usr/local/strong-deploy folder was created, but it was owned by root.  Then I ran:

[code]

And my deploys are working successfully.

[2014-10-16 23:41] bitmage opened #37 "Security Recommendations for strong-pm"
Hey, what are recommended best practices around securing strong-pm?  It seems from reading other issues that it would be a good idea to firewall the port that it's listening to?  If that's the case, how do you let desired deploys through?  Is there a method that would utilize ssh login, so we can rely on private keys?

[2014-10-17 00:50] #36 closed, assigned to nobody

[2014-10-17 18:18] kalanbates opened #39 "strong-pm on Windows cannot accept git deployments"
I'm following the demo located @ http://docs.strongloop.com/display/SLC/Deploy+and+manage+an+application
and also the one located @
http://docs.strongloop.com/display/SLC/slc+build.

Commands I executed to get my error (in the order I executed them):
$ git clone https://github.com/strongloop/loopback-example-app
$ cd loopback-example-app/
$ git checkout -b deploy
$ git checkout master
$ git checko

[2014-10-21 18:28] chandadharap opened #40 "DIscuss approach and strategy: Implement basic auth for strong-pm"

[2014-10-22 19:45] sam-github opened #41 "pm REST action and profile auto-cleanup"
actions, profiles, and the on-disk profile files associated should not collect indefinitely, they need occaisonal auto-deletion, probably after some max number have collected.

[2014-10-22 21:20] anthonyettinger opened #42 "need a list of current cpu profiles running"
For the strong studio integration, we will show a list of pids, with a status.

I  will need a way to show a start/stop button based on whether or not a CPU profile is currently running.
When a user clicks "stop" on a pid, it will push a file to them via iframed url. Its possible a cpu profile runs for a long period of time (a user could logout and come back to strong-studio later and be able to s

[2014-10-24 20:08] sam-github opened #44 "pm service name should be current application name"
https://github.com/strongloop/strong-mesh-models/blob/master/models/service.json#L6

service name is set to "default" by strong-pm, but a better name would be the name of the currently running package.json (which is more akin to what mesh will set it to).

[2014-10-27 18:37] #29 closed, assigned to sam-github

[2014-10-28 00:05] bitmage opened #45 "Clarification on Strong-PM Config"
I can't seem to get file copies working.  The documentation seems nebulous... an example project with a config file and some env files would be helpful.

Here's what I have.  In the strong-deploy root:

[code]

In `config`:

[code]

In `staging.env`:

[code]

I'm expecting the staging.env file to get copied over to the work/current/.env when I deploy, but that's not happening.  I'm deploying with:

[2014-10-28 23:01] rmg opened #48 "Expose environment variable get/set through REST API"
Proper REST API, where the environment is a modifiable property of the service instance.

Extending functionality from #47

[2014-10-28 23:04] rmg opened #49 "Define initial persisted environment during service installation"
Add mechanism to `sl-pm-install` for defining a seed environment for deployed applications that can later be modified using the `sl-pmctl env-set` mechanism in #47.

[2014-10-28 23:29] sam-github opened #50 "slc pmctl --control option undocumented"
It's a URL, or a local path to a file, but the README is not up to date with usage, and --help output doesn't mention that it can be a URL, and the STRONGLOOP_PM env var isn't mentioned either.

[2014-10-29 18:48] anthonyettinger opened #52 "pids are not showing up in api call"
When I goto this url, I don't get a list of running pids

http://localhost:7777/api/Services/1/instances/1

[2014-10-29 21:58] #52 closed, assigned to kraman

[2014-10-30 23:13] bitmage opened #55 "Utilize `git push` as deployment method"
I'm curious whether `git push` to the `strong-pm` git repos would be a viable replacement for the HTTP deploy method?  It could work something like this:
1. Instead of expecting HTTP deploys, have the entry point be the git repo at [strong-pm-base]/repos/[config].
2. `slc pm init [config]` sets up a new repo, [maybe asks you questions about config values, env variables, files to copy?], and adds a

[2014-11-04 18:09] andreribeirocoelho opened #58 "Installing strong-pm through a repository manager with restrict access"
We build our loopback application behind a protected network with very restrict access. Because of this we don't have access to github.com from this environment. We install our packages through a repository manager[1].

The strong-pm is using a version of "loopback-explorer" pointing to master[2]. Would you mind to change to any specific version? Or even, could you please clarify if it is necessar

[2014-11-04 22:10] #30 closed, assigned to cgole

[2014-11-05 00:00] #58 closed, assigned to nobody

[2014-11-06 19:47] #55 closed, assigned to nobody

[2014-11-12 22:55] #44 closed, assigned to kraman

[2014-11-12 23:09] #50 closed, assigned to sam-github

[2014-11-13 01:51] #25 closed, assigned to nobody

[2014-11-17 17:33] pungoyal opened #70 "installing systemd service"
When

[code]

Do not see the option to install systemd service.

When:

[code]

How can the `systemd` service be installed?

[2014-11-17 23:04] #49 closed, assigned to cgole

[2014-11-18 17:16] rmg opened #71 "deploy git RPC error when running on certain versions of node"
While verifying #19 it was found that node v0.10.30 worked fine, but running under v0.10.33 resulted in a reproducible RPC error in the git-upload-pack handler.

Will fix https://github.com/strongloop-internal/scrum-nodeops/issues/177

[2014-11-18 17:38] #32 closed, assigned to nobody

[2014-11-18 17:39] #37 closed, assigned to nobody

[2014-11-24 17:10] #42 closed, assigned to anthonyettinger

[2014-11-27 21:12] anthonyettinger opened #76 "deploy UI gets a pending request when trying to deploy via git w/o git installed"
If you startup strong-arc in a sample app that is not using git, and try to use build & deploy feature to deploy to strong-pm using a git repo, the request just hangs...it should return an error (similar to build with git error when not using git).

https://github.com/strongloop/strong-arc/pull/570

[2014-11-28 23:30] #76 closed, assigned to sam-github

[2014-12-05 07:41] #27 closed, assigned to cgole

[2014-12-05 20:55] #71 closed, assigned to cgole

[2014-12-05 20:57] #70 closed, assigned to rmg

[2014-12-11 10:30] pungoyal opened #86 "Force a deploy"
It would be helpful to have strong-pm force deploy a build again. Please refer strongloop/strong-deploy#18

This would be immensely useful for the time we are setting up build and deployment pipeline.

[2014-12-12 06:59] idosh opened #87 "Multiple processes in a single app"
My app contains a server process and a worker process and with the current pm I can't deploy them both in a single app.
I need two different applications or to run one of them manually with `slc run`.

[2014-12-16 16:07] glesage opened #90 "HTTPS / SSL Support for pm as a service"
Hey guys,

It seems that strong-pm, when started as a service, with sudo, does not manage to start an https server on port 443.

Surprising because when doing a simple `slc pm -l 7777` with the same repo and environment variables, it manages to do so just fine /:

When I give it port 2000 but still start the server as https, it DOES manage to start it.

The error I get is:

[code]

The way I setup

[2014-12-17 00:26] #90 closed, assigned to nobody

[2015-01-08 20:23] sam-github opened #96 "Better feedback when an app cannot be required"
As described [here](https://github.com/strongloop/strong-arc/issues/695#issuecomment-66765934).

Can also verify that there is a runnable app.js that can be found, this would involve refactoring the app finding code from supervisor, and calling in strong-deploy and strong-start.

[2015-01-09 00:11] sam-github opened #97 "Create a stable/unique ID in the env for worker use"
If each worker had a stable ID, starting from 1, such that when a worker restarts it is given the lowest free ID, it would be possible for each worker, even though it is using node cluster, to listen on a different TCP port, say `process.env.PORT + process.env.STRONGLOOP_CLUSTER_ID`, allowing the loadbalancing to be done externally with nginx. Also, since node 0.11+ supports "exclusive" tcp listen

[2015-01-09 00:26] rmg commented on #40
@chandadharap the original story here is to "discuss basic auth", which I think has happened. What are you expecting me to deliver?

[2015-01-09 00:42] chandadharap commented on #40
Implement ssh tunneling ? You can create a separate story or simply edit
the title of this so you still have its history.

On Thu, Jan 8, 2015 at 4:26 PM, Ryan Graham <notifications@github.com>
wrote:

--
Chanda Dharap
Director, Engineering
@StrongLoop Inc
(510) 304-3924
chanda@strongloop.com

*StrongLoop <http://strongloop.com/>** makes it easy to **develop APIs
<http://strongloop.com/mobile-appl

[2015-01-09 00:42] rmg commented on #97
Interesting approach. Basically use cluster to provide:
 * convenient IPC
 * a rather elegant solution to coordinating port binding multiple consecutive processes

I wonder what the performance characteristics would be like from this approach vs. cluster's "load balancing".

[2015-01-09 00:53] sam-github commented on #40
After discussion, I think there are two seperate stories:

1. implement http basic auth (effects pm-install, pm, and pmctl, ... and could effect arc)
2. implement ssh tunnelling

Both should be backlogged.

First should be done first, the second later.

@rmg @chandadharap  would you agree?

[2015-01-09 00:57] sam-github commented on #97
I think the performance improvements are:

1. v0.10: don't suffer from the problem where connections are delivered to the most recent worker, instead of equally across all workers. this is solved, in theory, with RR in v0.11
2. nginx has better load balancing algorithms:
  - sticky sessions, including having socket.io hitting the same worker as the http, and having the same client on the same work

[2015-01-09 01:12] rmg opened #98 "Add ssh support to pmctl"
Use a pure JS ssh2 to implement dependency free support for connecting to a remote strong-pm over ssh, assuming the server running strong-pm has ssh running on it (standard for almost any Linux server).

From #40

[2015-01-09 07:34] chandadharap commented on #40
agreed.

[2015-01-09 18:54] altsang commented on #40
sorry @chandadharap just pointed me to this, had forgotten about it, +1 to #2, most of the communication to strong-pm at least from an Arc perspective would be privileged and "system to system" in the sense that we don't have roles in Arc to prohibit you from doing one function versus another - everyone is considered a super user at this point.

[2015-01-09 18:56] rmg opened #99 "Add HTTP basic auth support"
* allow setting a user:pass via `SL_PM_BASIC_AUTH` environment variable
 * allow setting a user:pass on `slc pm`/`sl-pm` command line
   * if set, overrides `SL_PM_BASIC_AUTH` value
 * allow setting a user:pass during `slc pm-install`/`sl-pm-install`
   * sets `SL_PM_BASIC_AUTH` environment variable in OS service file

Continuation of #40

[2015-01-09 18:58] rmg commented on #40
Closing. Created #98 and #99 to capture the actionable items from this discussion.

[2015-01-09 18:58] #40 closed

[2015-01-12 23:35] sam-github opened #101 "pm REST ifx doesn't derive default value of cpus from the environment"
It should be asking the pm server what the default cluster size is, not assuming it is CPU, so that `STRONGLOOP_CLUSTER` is respected.

[2015-01-13 13:24] maxime-crunding opened #103 "The package strong-pm does not satisfy its siblings' peerDependencies requirements!"
Can someone take a look at this error, please?
I got this when I want to install -g strongloop
On Mac OSX.

[code]
[code]

[2015-01-13 14:56] maxime-crunding opened #104 "Deploy PM url not valid"
After building my application using Git onto deploy branch (http://docs.strongloop.com/display/public/SLC/Committing+a+build+to+Git)

The process manager is running on http://127.0.0.1:7777/
[code]

I can't deploy
- via de command line
[code]
- neither via ARC

Should I do a full strongloop config on my LIVE server 1st and then from my localhost deploy ?

[2015-01-13 19:42] rmg commented on #103
The strong-cli package was deprecated in August, replaced with the `strongloop` package. You need to `npm -g uninstall strong-cli` to resolve your issue.

 * http://strongloop.com/strongblog/update-to-installer/
 * http://docs.strongloop.com/display/SL/Updating+to+the+latest+version

[2015-01-13 19:45] rmg commented on #104
I predict you are running Mac OS 10.10, correct?

The most common cause for this is your OS supports IPv6 as well as IPv4 and `localhost` is resolving as `::1` instead of `127.0.0.1`. To get around this, specify `http://127.0.0.1:7777` as the URL you are deploying to.

[2015-01-14 09:29] #103 closed

[2015-01-14 15:17] #104 closed

[2015-01-20 18:00] bitmage commented on #45
@sam-github this continues to be a problem for me.  I currently have hard coded values in my production config, and I have to re-make these edits every time I deploy.

I would really appreciate help on getting the file copying working.

[2015-01-20 19:57] sam-github commented on #45
Please note my comments above, you were not using the `--config` option of `slc deploy`, and you were calling your config `staging` in the git push, but `config-staging` in the config file.

If you show me again your config file, and the command you are using to deploy, and the output of `slc --version`, I will try to reproduce.

[2015-01-20 20:02] sam-github commented on #45
Sorry, I reconsidered. Don't use this config file feature. We introduced direct support for remote control of the environment of the managed process in https://github.com/strongloop/strong-pm/pull/47 specifically to obsolete this cumbersome and error-prone editing of config files.

Please see the pmctl documentation: https://github.com/strongloop/strong-pm#slc-pmctl

You can directly set NODE_ENV

[2015-01-20 22:37] bitmage commented on #45
Thank you, I will try that now.

[2015-01-20 22:49] sam-github commented on #45
Great, tell use how it goes. We hope the env control will really helpful for your use case.

[2015-01-21 02:06] bitmage commented on #45
I just did a `npm install -g strongloop` to upgrade.  All of the `pmctl` commands now hang - no output, never exits.  I tried doing `slc pm-install` to finish the upgrade.  Commands still hang.

[2015-01-21 02:08] rmg commented on #45
@bitmage did you restart the strong-pm instance you are trying to connect to after upgrading it?

[2015-01-21 02:28] bitmage commented on #45
I can't.  The start/stop commands hang.

[2015-01-21 02:56] rmg commented on #45
Restarting strong-pm would be through init, so either initctl for upstart or systemctl for systemd.

[2015-01-21 03:20] bitmage commented on #45
Ah.  Ok, well I tried rebooting the machine and it didn't come back up.  I have to wait til morning for the sysadmin to restart it now.

Thanks for your help guys.  I'll look again in the morning.

[2015-01-21 04:12] rmg commented on #45
Sorry, I was typing on my phone. I meant to spell out the restart commands.
 * Upstart: `initctl restart strong-pm`
 * systemd: `systemctl restart strong-pm`

When re-installing the systemd or Upstart service, it is probably a good idea to reload those job/service/unit configs.
 * Upstart: `initctl reload-configuration`
 * systemd: `systemctl daemon-reload`

All `initctl` and `systemctl` commands

[2015-01-22 05:35] sam-github commented on #45
@bitmage  Has this worked for you yet?

@rmg @crandmck we might need an upgrade guide for strong-pm, its a bit more than the normal `npm install -g strongloop`, so we should document it somewhere.

[2015-01-22 22:50] crandmck opened #108 "Upgrade guide for strong-pm"
Per Sam:

See #45

[2015-01-27 02:52] sam-github opened #111 "--no-control causes listen on an ephemeral port"
as reported by @rmg

[2015-01-27 03:44] ijroth commented on #97
Perhaps we could configure this manually (nginx load balancing vs built-in load balancing) and run a test? If it's better with nginx, we could blog about our results when we release the feature...

[2015-01-27 17:46] sam-github opened #112 "default port for pm"
In https://github.com/strongloop/strong-arc/issues/718#issuecomment-66888977 @rmg said:

[2015-01-27 19:39] sam-github opened #113 "implement inject-file support"
As described in #61 by @rmg:

[2015-02-02 17:06] #99 closed

[2015-02-02 19:16] kraman opened #117 "Detect process start & crash (spinning) and indicate on the instance model"
@ritch and @seanbrookes request an API to detect a PM that attempts to start a broken app, detects the crashed pid and keeps trying to start it forever. This could be exposed as a `spinning` boolean flag on the instance model.

/cc @sam-github

[2015-02-02 19:18] sam-github commented on #117
It is theoretically known to strong-supervisor (it makes an internal state change causing it to delay restart, that state change can be surfaced).

This is for remote PM, though, right? Because the arc-internal PM no longer restarts.

[2015-02-02 19:19] kraman commented on #117
@sam-github yes, this is for a remote PM. When the Pm is spinning, the UI doesnt show any PIDs and since logs are not yet exposed, the user has no way of knowing.

[2015-02-02 19:57] chandadharap commented on #113
@sam-github @rmg Please add a description even if short. chasing links is painful.

[2015-02-02 20:32] rmg commented on #113
@chandadharap updated description.

[2015-02-05 22:47] cgole opened #118 ""Ignore metrics" error on the pm server console"
App deployed on pm server throws this error on the pm console.

Not sure how to repro it. I have a basic loopback app deployed to a pm server on my mac and I keep getting these messages on the console.

Ignoring metrics for unknown worker: 1
Ignoring metrics for unknown worker: 2
Ignoring metrics for unknown worker: 3
Ignoring metrics for unknown worker: 4
Ignoring metrics for unknown worker: 5
Ig

[2015-02-05 22:47] cgole commented on #118
https://github.com/strongloop/strong-arc/issues/965

[2015-02-05 23:31] rmg commented on #118
This is coming from code added in af9e0cf8 and appears very intentional.
[code]

@sam-github @kraman perhaps this should debug instead? Or maybe there's some way we can tighten up the timing?

[2015-02-05 23:57] kraman commented on #118
@rmg yes I think this should be debug. I am not sure why agent is pushing up metrics for stale procs tho...

[2015-02-06 06:42] cgole opened #119 "arc manager : updating cluster size doesnt work as expected."
This functionality is broken. I wasn't able to successfully update cluster size.

[2015-02-07 03:42] alexgorbatchev opened #121 "Improve pm README"
It's pretty confusing trying to figure out `strong-pm` at the moment. The README is not clear at all that `strong-pm` is part of an echo system which also includes `strong-build` and `strong-deploy`. I presume same goes for READMEs of all three modules. I think it needs to be made more clear that it's not really just a standalone process manager (in fact it's nothing like the popular `pm2` for exa

[2015-02-07 04:52] chandadharap commented on #121
@alexgorbatchev Thanks for the feedback, we have indeed been pondering about linking to the other README's from within each other. Perhaps its time to do that for strong-build, strong-deploy and strong-pm.

But specifically to understand the ease of composition of these three modules, perhaps you might want to start with @sam-github 's blog http://strongloop.com/strongblog/node-js-deploy-productio

[2015-02-07 05:13] rmg commented on #121
FWIW, pm2 is closer to strong-supervisor, which is what strong-pm uses internally to run apps that are deployed to it.

[2015-02-08 04:39] sam-github commented on #121
@alexgorbatchev do you think the slc usage message gives a better idea of the relationship between the tools?  https://github.com/strongloop/strongloop/blob/master/man/slc.txt

[2015-02-08 04:43] sam-github commented on #118
@cgole @kraman if you find a reproducible case I'd like to know, but yes, for now better move it to debug.

[2015-02-08 06:49] alexgorbatchev commented on #121
@sam-github looking at the slc.txt you do get a better grasp of the picture. One thing to keep in mind that generally node modules follows the "small module" mantra that do one thing well. Because of that, IMO, three separate modules working together message needs to be reenforced and be painfully obvious as it might not be immediately clear.

I would also remove `slc` command from the README as o

[2015-02-09 00:56] rmg commented on #121
@alexgorbatchev how did you find strong-pm? I'm curious because my own preference is for treating the modules as standalone like you suggest. I haven't been able to make a strong case for it because all of our docs and messaging tell people to `npm install -g strongloop` and almost hide the fact that the many `slc` commands are installable as standalone modules.

[2015-02-09 21:25] alexgorbatchev commented on #121
@rmg I'm writing an article about it :)

[2015-02-10 01:03] bitmage commented on #45
@sam-github Sorry for the late reply.  Yeah, that's all working perfectly now.  Once we got the server rebooted the upgrade was successful, environment variables are working properly, and my deploy is now fully automated again.

Yay!  Thanks for your help!

[2015-02-10 01:03] #45 closed

[2015-02-11 18:28] sam-github commented on #121
@alexgorbatchev The only reference to slc is the one liner alternative command in the usage: https://github.com/strongloop/strong-pm#slc-pm-install

Is that what threw you off?

I'm thinking about removing that, and somewhere sticking a note that strong-pm is part of the strongloop command line (... link to strongloop/strongloop, and mentioning the mapping from `sl-pm-install` to `slc pm-install`)

[2015-02-12 00:53] alexgorbatchev commented on #121
This part is pretty confusing... it sounds like the supervisor is first SIGTERMed and then SIGHUPed... is one of this referring to the running application by chance?

[2015-02-13 22:03] sam-github commented on #121
@alexgorbatchev I don't know where you found that text, and it leaves me a bit confused, too.

Is this clearer?  https://github.com/strongloop/strong-pm/blob/master/bin/sl-pmctl.txt#L27-L35

[2015-02-13 22:31] alexgorbatchev commented on #121
last two paragraphs in https://github.com/strongloop/strong-pm/blob/master/README.md#life-cycle

[2015-02-16 18:24] sam-github commented on #121
@alexgorbatchev thanks for the reference. I agree, that section is confusing, it describe an earlier incarnation of strong-pm, and hasn't applied for some time.

The lifecycle and configuration section (as well as support for the config file) will be removed in https://github.com/strongloop/strong-pm/pull/61. Please do not depend on it, or describe it.

[2015-02-16 19:12] sam-github commented on #119
I assume this was a remote PM, not the internal one.

You tried with arc through the UI, it didn't work, then you tried with pmctl from the command line, and it did or did not work?

[2015-02-17 22:43] crandmck commented on #121
@alexgorbatchev We document stuff in two places: GitHub READMEs and http://docs.strongloop.com/.

Some time ago, the team and I concluded that the README would focus on the individual module, and docs.strongloop.com would explain how everything works together.  Although there will inevitably be duplication between the two, but the purpose and emphasis will be different.  So, http://docs.strongloop

[2015-02-18 16:46] crandmck opened #124 "Change documentation of PM config"
Apparently, the config file is being eliminated, to be replaced by other mechanisms, per #61.

Need to change docs accordingly.

[2015-02-18 21:28] kraman opened #125 "Add Express usage records"
Add Express usage records

[2015-02-19 06:51] chandadharap commented on #124
Wait for heads up from @rmg

[2015-02-19 17:02] rmg commented on #124
Easy change. The next major release of strong-pm will not support configuration files at all.

[2015-02-19 17:22] chandadharap commented on #124
I guess the question is, should we just make  the mod to docs now? else
please give Rand/Denise a heads up after the next release.
=c

On Thu, Feb 19, 2015 at 9:02 AM, Ryan Graham <notifications@github.com>
wrote:

--
Chanda Dharap
Director, Engineering
@StrongLoop Inc
(510) 304-3924
chanda@strongloop.com

*StrongLoop <http://strongloop.com/>** makes it easy to **develop APIs
<http://strongloop.co

[2015-02-19 17:51] rmg commented on #124
I'm ok with it being removed now.

[2015-02-19 18:59] sam-github commented on #124
We should remove now... we don't want people to start using the config file.

[2015-02-19 20:16] crandmck commented on #124
@DeniseLee From above comments, it sounds like you should address this ASAP.  Let's chat and I can answer any questions.

[2015-02-20 14:39] kraman opened #129 "refactor pm core: Move REST API implementation into strong-mesh-models"
"1.g" from https://docs.google.com/a/strongloop.com/document/d/1lRLv8zE5uflL84HoT360oyPU5PyDp2LTZE6w8t1QAuc/edit#

[2015-02-20 17:18] #119 closed

[2015-02-23 18:10] sam-github opened #130 "bug assuming lack of LB error means success"
Which it doesn't:

[code]

Probably something else is broken, this is assuming that a service ID of 1 is always found.

[2015-02-24 18:21] kraman opened #131 "refactor pm core: Move model update code into strong-mesh-models"
"1.g" from https://docs.google.com/a/strongloop.com/document/d/1lRLv8zE5uflL84HoT360oyPU5PyDp2LTZE6w8t1QAuc/edit#

[2015-02-25 01:03] cgole commented on #125
@kraman,  how do I verify this?

[2015-02-25 21:46] kraman commented on #125
I think @bajtos has a test script you can use to verify this API.

[2015-02-26 00:10] sam-github commented on #130
Cannot reproduce.

[2015-02-26 01:19] rmg commented on #130
Wasn't this something you found in #128? Could it be specific to http+ssh?

[2015-02-26 07:22] bajtos commented on #125
@cgole
1. Create an express app using the instructions in [strong-express-metrics](https://github.com/strongloop/strong-express-metrics#usage).
2. Deploy the app via strong-pm
3. Make some requests against your app
4. View the records via `http://localhost:7777/api/ExpressUsageRecords`, assuming `7777` is strong-pm's port.

@kraman you haven't renamed `usage` to `details `yet, have you?

[2015-02-26 17:11] #130 closed

[2015-02-26 18:41] DeniseLee commented on #124
Hi @sam-github and @rmg (and @crandmck). I am a new contract writer for StrongLoop, and this is my first assignment. I've gone through #61, and it seems like all that needs to be done is to the docs is to remove references to the config file.

A couple of questions:
1. Do we have a new way to configure PM now? (If so, what is it?)
2. Do we need to tell users that this is deprecated?

Thanks!

[2015-02-26 19:04] crandmck commented on #124
@denise Be sure to update http://docs.strongloop.com/display/SLC/Running+Process+Manager#RunningProcessManager-Configuration with the new way to configure PM operation, assuming there is one

[2015-02-27 00:25] DeniseLee commented on #108
@rmg, @sam-github, @crandmck  Just following up on this.

--In #45 @rmg says
"Sorry, I was typing on my phone. I meant to spell out the restart commands.

    Upstart: initctl restart strong-pm
    systemd: systemctl restart strong-pm

When re-installing the systemd or Upstart service, it is probably a good idea to reload those job/service/unit configs.

    Upstart: initctl reload-configuration

[2015-02-27 01:37] rmg commented on #124
@DeniseLee there is no new way to configure the aspects of PM that the config file was used for. The best we can do in terms of alternatives is to point them at the existing CLI options and `pmctl` commands for getting/setting environment variables.

A deprecation notice might make sense for a 1.x release. @sam-github what do you think?

[2015-02-27 01:58] rmg commented on #108
Yes, it might be helpful to some users to mention those commands somewhere in the docs:
 * `sudo initctl reload-configuration`
 * `sudo systemctl daemon-reload`

They tell Upstart and systemd, respecitively, to reload their job configs so they are using the configs that were just generated with `sudo slc pm-install` or `sudo sl-pm-install`.

[2015-02-27 22:16] cgole commented on #125
I couldnt get this to work. Saw no data when I called the api. @kraman,  to help figure this out.

[2015-02-27 22:53] DeniseLee commented on #124
Restricted  Process Manager config file page to strongloop group.

Removed config option info from slc deploy, slc pm-install, slc pm, and Running Process Manager Configuration pages.

@chanda, @rmg, @sam-github
I have not put in a deprecation notice. Not sure where to put it. Release notes?

[2015-02-27 23:05] sam-github commented on #124
Many of the things that were theoretically configurable in `config` could not in fact be configured, so a deprecation notice is shutting the stable door after... you get the idea.

We'll bump the major, right? I think that's enough. Longer term, we'll need better ways, I guess, but that and the Changelog should be good enough for now, IMO.

[2015-02-28 00:12] rmg commented on #124
@DeniseLee sorry for the confusion. I meant a deprecation notice added to the CLI for strong-pm@1.x as a backported fix for people who don't upgrade to 2.x right away. I wasn't intended for it to be published anywhere, since as Sam points out, the feature doesn't work properly anyway and our fix was just to remove it entirely.

[2015-02-28 00:17] DeniseLee commented on #124
Thanks @sam-github and @rmg.

[2015-03-01 20:10] DeniseLee commented on #108
@rmg, @sam-github Added this information to Installing Process Manager as a Service page.

Upgrading Note: When re-installing the systemd or Upstart service, it is a good idea to reload the job configurations that were just generated when you installed the Process Manager with sudo slc pm-install or sudo sl-pm-install.

For Upstart, use this command:
    sudo initctl reload-configuration
For syste

[2015-03-02 17:49] rmg commented on #108
The changes look good to me :-)

[2015-03-02 19:27] cgole commented on #125
verified -
 Create an app with -
var express = require('express');
var metrics = require('strong-express-metrics');

var app = express();
app.use(metrics(function buildRecord(req, res) {
  return {
    client: {
      id: 1,
      username: 'a@bcom'
    },
    data: {
      url: req.url,
      status: res.statusCode
    }
  };
}));
app.listen(3000);

Deploy it to strong-pm
Check api - http://local

[2015-03-03 17:26] sam-github commented on #108
@DeniseLee I'll go looking at the docs, to see if I can find this. Its helpful to include links to confluence after you've done something to speed up review.

[2015-03-03 17:27] sam-github commented on #108
@DeniseLee Not having much luck. Links that I should review, please?

[2015-03-03 18:06] DeniseLee commented on #108
So sorry @sam-github. Getting used to this process. Here's the link: http://docs.strongloop.com/display/SLC/Installing+Process+Manager+as+a+service.

[2015-03-03 21:07] sam-github commented on #108
Use port 8701 for all example calls to pm-install, please (it will soon be the default, but best leave the docs for now but specify the default).

For upstart, some example system names are provided, but not for systemd. It would be useful to mention a couple prominent systemd distributions. Also, I could read the note to as meaning that systemd will be used when you use `--systemd`, but actually,

[2015-03-04 17:22] chandadharap commented on #125
K has a small change TBD

[2015-03-04 19:56] DeniseLee commented on #108
Updated doc per comments. Sam, I have a review comment on the page for you regarding where systemd logs are stored. Thanks!

http://docs.strongloop.com/display/SLC/Installing+Process+Manager+as+a+service

[2015-03-05 00:19] chandadharap commented on #129
This is an APi change, so when we up the version, we'll need a full QA and this is an Arc impacting change, so need orchestration with @seanbrookes and a corresponding Arc release before publishing to npmjs.org.

will close now.

[2015-03-05 00:23] kraman commented on #129
Internals only change. API and CLI remain the same. Due to amount of code moved around, I suggest doing a full test of PM surface. I also suggest waiting for strongloop/strong-pm#131 and possibly strongloop-internal/scrum-nodeops#311 before starting verification.

[2015-03-05 17:13] #124 closed

[2015-03-05 17:39] sam-github commented on #108
LGTM

@rmg can you look at this, Denise has one question about where systemd logs go (I don't know).

[2015-03-05 18:52] rmg commented on #108
Everything run under systemd is logged to `journald`, which is accessible via the `journalctl` command. I think anyone using systemd should probably already be familiar with those mechanisms, so I don't think we need to document that in too much detail.

For convenience, our systemd service definitions _also_ log to syslog.

@DeniseLee does that give you enough information to make something readab

[2015-03-05 23:41] kraman opened #141 "pm multi-app: strong-pm support"
pm itself will need modification to integrate the runner from #307 and expose dynamic multiple service instances to pmctl extensions added in #315

[2015-03-06 01:09] sam-github opened #142 "pm shutdown command always fails"
[code]

and

[code]

I suspect this may be because pm is exiting before sending an HTTP response, but I haven't had time to see.

[2015-03-06 01:10] sam-github commented on #142
And I think its a regression, because https://github.com/strongloop/strong-start/pull/1 unit tests fail on this now, and they passed before rebasing onto the refactored master.

[2015-03-06 17:09] sam-github commented on #108
I think somebody who just happens to be using systemd might not know about journalctl, and could use a pointer to it.

[2015-03-06 21:33] #142 closed

[2015-03-08 16:15] DeniseLee commented on #108
@rmg, @sam-github. I updated the systemd log info as you've stated. How does it look? Thanks for your help!

[2015-03-09 02:11] DeniseLee commented on #108
Here's the link: http://docs.strongloop.com/display/SLC/Installing+Process+Manager+as+a+service

[2015-03-09 16:10] sam-github commented on #48
Verify via confirming env-set/get/etc. still work after rewrite.

[2015-03-09 17:23] sam-github opened #145 "pm dying in mesh models while log-dump running"
I did an `npm install -g strongloop` while pm was running... I think that should do nothing, once pm is running, it shouldn't hit disk... but maybe it does?

[code]

[2015-03-09 19:07] sam-github commented on #145
I couldn't reproduce. Hm.

[2015-03-09 19:47] braincomb opened #146 "Error installing service 'strong-pm'"
Hi all,

I already have strong-pm installed, initial install was smooth, but subsequent re-installs result in an error:
[code]

Using:
[code]

[2015-03-09 19:49] sam-github commented on #146
Could you plrease re-run the pm-install with `DEBUG=*`, and post output? Perhaps as a gist if it is too long to paste in here.

[2015-03-09 20:01] braincomb commented on #146
Sure,

Here's the output:
https://gist.github.com/braincomb/c7e3a1fd7095bfdacaf1

[2015-03-09 20:35] sam-github commented on #146
@rmg one of the calls to `execFile()` is clearly getting way more data than it expected, see [node](https://github.com/joyent/node/blob/master/lib/child_process.js#L787), but I'm having trouble seeing which one it was. All the ones in `lib/install.js` should be tiny, I think.

[2015-03-09 20:37] rmg commented on #145
I _think_ this is caused by strong-pm starting its http server before it loads the loopback models used by that server. Perhaps the http server shouldn't be started until after everything is up and running?

[2015-03-09 20:59] rmg commented on #108
Looks good. I see an open comment about how to check if the service is running.

For Upstart systems, the command and example output would be:
[code]

For systemd systems:
[code]

[2015-03-09 21:25] rmg commented on #146
I caught and fixed the maxBuffer problem in #126, which is scheduled for the next major release.

@braincomb There is a good chance that you do not need to re-run `pm-install` after upgrading, since the service config itself has likely not changed. What version of strong-pm are you upgrading from?

[2015-03-09 22:14] braincomb commented on #146
@rmg My original intention was not to upgrade but re-run the install to set an env variable, which I then realized I could do with `pmctl`. I also wanted to re-run it so I could set `--http-auth`, for some reason `sudo slc pmctl -C /var/lib/strong-pm/pmctl env-set STRONGLOOP_PM_HTTP_AUTH=user:secret` isn't doing anything for me, I checked env.json and I see it set, restarted the service just in ca

[2015-03-09 22:31] rmg commented on #146
@braincomb the reason `env-set` doesn't work for this is because it is part of strong-pm's configuration but `env-set` only sets environment variables for the application. Your best bet at the moment is to manually edit your service file. Based on your open PR against strong-service-systemd you might have guessed that this involves adding a line to `/etc/systemd/system/strong-pm.service` in the Se

[2015-03-09 22:43] sam-github commented on #145
Hm, @kraman, comment on above?

[2015-03-09 23:39] #98 closed

[2015-03-09 23:39] #125 closed

[2015-03-10 06:18] cgole commented on #48
verified

$ slc pmctl -C http://localhost:7777 env-set PORT=3004
Environment updated: Updated environment, restarting app
$ slc pmctl -C http://localhost:7777 env PORT
Environment variables:
 PORT=3004
Chandrikas-MacBook-Air:loopback1 chandrikagole$ slc pmctl -C http://localhost:7777 env-get PORT
Environment variables:
 PORT=3004
$ slc pmctl -C http://localhost:7777 env-unset PORT
Environment upda

[2015-03-10 06:37] cgole commented on #131
verified. tried deploying to pm server  status, shutdown, start, stop, soft-stop, restart, soft-restart, set-size, set-env.

[2015-03-10 06:37] cgole commented on #131
@kraman, Let me know if there is anything else I need to verify

[2015-03-10 14:56] kraman opened #148 "Spike: Metrics persistance to disk + 1 hour (or n) of retention"
Chanda added:
- [ ] First please check if extending aggregation via current mechanism on agent is a doable option for MVP. That need not involve writing connectors for now.
- [ ] I checked with Albert and Issac, Al's suggestion is even an hour of data is fine, we can work out a storage mechanism at the Arc end, on the file system.

Below is not in scope for this Spike
-------
For displaying API Us

[2015-03-10 15:51] DeniseLee commented on #108
@rmg, I'm sending this back to you for review. Do you want me to reassign to Sam or Rand? Thanks for your help.

[2015-03-10 17:39] sam-github commented on #112
Fixed in https://github.com/strongloop/strong-pm/pull/140

[2015-03-10 17:39] #112 closed

[2015-03-10 17:41] sam-github commented on #111
I think this is fixed, need to verify.

[2015-03-10 17:58] sam-github commented on #121
https://github.com/strongloop/strongloop/issues/191 obsoletes and follows on to this.

[2015-03-10 18:16] #121 closed

[2015-03-10 20:56] rmg opened #151 "Add support for live environment set/unset"
Once strong-supervisor supports get/set/unset of environment variables via control channel strong-pm will need a way of utilizing it for truly zero-downtime environment updating.

See:
- strongloop-internal/scrum-nodeops#302
- strongloop-internal/scrum-nodeops#303
- strongloop-internal/scrum-loopback#206

[2015-03-10 23:50] sam-github commented on #111
Not reproducible:
[code]

[2015-03-10 23:50] #111 closed

[2015-03-11 00:52] kraman commented on #131
@cgole how about profiling commands?

[2015-03-11 01:02] rmg commented on #108
LGTM.

[2015-03-11 01:02] #108 closed

[2015-03-11 06:12] cgole commented on #131
I tried all commands, including log dump and profiling. Everything is working.
@sam @rmg - how does one know which env variable to use to get metrics. Dont see it documented anywhere..
env-set STRONGLOOP_METRICS=statsd://localhost:5140

[2015-03-11 17:50] crandmck opened #153 "Add docs to try metrics locally"
Add steps a dev would need to first try metrics on their dev box (wherever it fits):

1. install strongloop
2. `cd <my-app>`
3. `slc start`
4. Start collecting metrics: `slc ctl env-set STRONGLOOP_METRICS=statsd://localhost:5140` (defaults to connect to PM on localhost)

[2015-03-11 17:54] rmg commented on #153
@crandmck heads up, I updated the issue description

[2015-03-12 15:23] kraman commented on #145
@sam-github I havent been able to reproduce this issue. Any additional details?

[2015-03-12 16:17] rmg commented on #146
@braincomb we haven't updated strongloop to use it yet, but we've released a new version of strong-pm that includes the fixes I described. If the workaround or upgrade work for you, would you mind closing this?

[2015-03-12 16:20] #145 closed

[2015-03-12 17:59] braincomb commented on #146
Updated to 3.0.0 and ran `sl-pm-install` - no issues.

Thanks! Closing.

[2015-03-12 17:59] #146 closed

[2015-03-13 03:22] braincomb opened #155 "Restrict bind address to localhost only."
As it is right now, StrongLoop Process Manager listens globally, meaning it can be accessed from outside. Having an extra port open outside is a security concern. Yes, we can HTTP AUTH it but it's not the same. We should be able to restrict to localhost only without mingling with firewall rules.

[2015-03-13 15:59] rmg commented on #155
@sam-github @chandadharap @kraman this doesn't fit with the whole mesh/orchestration concept, but it's very valid for a single server scenario. Especially since you can use ssh tunnelling to access localhost bound ports.

@sam-github what do you think about `--listen` accepting an address:port format? Should be backwards compatible, and the option is `--listen` not `--port`, so the name still make

[2015-03-13 17:49] kraman commented on #155
@rmg Arc PM view (and backend) would need to allow connecting over SSH tunnel. We will need to make sure web-sockets (for notifications/updates) continue to work in that case.

[2015-03-13 17:55] rmg commented on #155
@kraman I would expect the http port to still be exposed for that use case. I think if you're specifically binding pm to localhost you're doing so intentionally with the expectation that it is no longer remotely accessible. The fact that `http+ssh://` works is more of a convenience so you don't need to start up a remote shell for _every_ operation you perform on the server.

[2015-03-16 19:42] #131 closed

[2015-03-16 19:42] #129 closed

[2015-03-16 19:49] #48 closed

[2015-03-17 16:58] crandmck commented on #153
@sam-github  Will this procedure change with `slc start`?

[2015-03-17 22:30] sam-github commented on #153
@crandmck steps 1-3 change with `slc start`, of course, but the env-set doesn't.

[2015-03-18 08:41] grosem opened #158 "slc pmctl does not find service"
Hi,

executing 'slc pmctl' does not return on an Ubuntu Server.

:/var/lib/strong-pm# slc -v
strongloop v3.0.4 (node v0.12.0)
├── strong-arc@1.1.0
├── strong-build@1.0.3 (5a43a57)
├── strong-deploy@1.1.5 (c8f39ec)
├── strong-pm@3.1.0 (89bf840)
├── strong-registry@1.1.4 (aab3dbb)
├── strong-start@1.0.2 (fa68a7f)
├─┬ strong-supervisor@1.4.1 (c945bd1)
│ └── strong-agent@1.3.2
├── generator-loopback@1

[2015-03-18 16:28] sam-github commented on #158
The docs were out of sync with the CLI, `slc pmctl -h` gives correct docs.

I think you have a new pmctl and an older version of strong-pm. strong-pm 3.x changed the protocol, possible?

If so, you'll need to update your server. Please look at the bottom of this page:

http://docs.strongloop.com/display/SLC/Setting+up+a+production+host

for the header "Upgrading Process Manager"

[2015-03-18 18:49] grosem commented on #158
You were right. Unfortunately I cannot update because of
https://github.com/strongloop/strong-mesh-models/issues/31

Sam Roberts <notifications@github.com> schrieb am Mi., 18. März 2015 um
17:28 Uhr:

[2015-03-18 20:37] rmg commented on #158
@grosem that should be fixed now, please try again.

[2015-03-19 16:11] grosem commented on #158
@sam-github I updated strong-pm to 3.1.3 and followed the docs you mentioned. However, pmctl still cannot get a status from the running process.

That's what I see in the logs: http://pastebin.com/thd3T693

[2015-03-19 16:25] rmg commented on #158
@grosem can you include the output of `DEBUG=* slc ctl`? And while you're at it, the output of `ls -l /var/lib/strong-pm/pmctl` might also be helpful.

[2015-03-19 16:41] grosem commented on #158
Sure:

ls -l /var/lib/strong-pm/pmctl
srwxr-xr-x 1 strong-pm strong-pm 0 Mar 19 17:24 /var/lib/strong-pm/pmctl

DEBUG=* slc ctl http://pastebin.com/WfQCtzyD

2015-03-19 17:25 GMT+01:00 Ryan Graham <notifications@github.com>:

[2015-03-19 16:54] rmg commented on #158
@kraman you're most familiar with this now, I think. Does the debug output tell you anything?

[2015-03-19 17:02] grosem commented on #158
I just noticed that this line was added after I copied the code:

Command status failed with Error: read ECONNRESET

according to `status strong-pm` it is still runing though.

2015-03-19 17:54 GMT+01:00 Ryan Graham <notifications@github.com>:

[2015-03-19 21:26] sam-github commented on #158
[code]

[2015-03-20 10:19] grosem commented on #158
When no application is deployed it returns me a status

`sl-pmctl status`
manager:
  pid:                1250
  port:               8701
  base:               /var/lib/strong-pm/.strong-pm
current:              (none)

@sam-github how can I track down the source of this TypeError?

[2015-03-20 15:29] kraman commented on #158
@sam-github that warning is normal I think. Perhaps Miro will have a better idea.

[2015-03-20 15:31] kraman commented on #158
@grosem. Have you deployed anything on the pm instance?

Can you run a process listing on you pm server machine and paste the node processes here please

[2015-03-20 18:42] grosem commented on #158
Alright, I noticed this:

If I always deploy via slc in the terminal there is no problem at all - everything works just fine.
As soon as I deploy via arc it's somehow screwed up. Even deploying via terminal does not work anymore. Perhaps you have an idea why this could make a difference (all packages were up-to-date as of yesterday). Both times I used deploy as package, not via git.

I'm fine with

[2015-03-20 21:18] crandmck commented on #153
I edited the instructions above to use `slc start` and `slc ctl`.

[2015-03-20 21:29] sam-github commented on #158
If you can do it with the CLI you should be able to do it with arc, so something is definitely broken. Thanks for you patience, and yes, we'd still like that info.

[2015-03-20 22:07] grosem commented on #158
There you go:

strong-+   855  5.3 80.1 3324080 816104 ?      Rsl  19:31  10:28 /usr/local/bin/node /usr/local/lib/node_modules/strong-pm/bin/sl-pm.js --listen 8701 --base /var/lib/strong-pm/.strong-pm
strong-+  3890  0.0  0.0 1037732   48 ?        Sl   19:35   0:08 /usr/local/bin/node /usr/local/lib/node_modules/strong-pm/node_modules/strong-supervisor/bin/sl-run.js --cluster=CPU
strong-+  3891

[2015-03-23 17:30] DeniseLee commented on #153
@crandmck here is a proposal for slight rearrangement of content of monitoring and some issues/questions.

CURRENT:

Monitoring
	Viewing metrics with Arc
	Setting up monitoring
		Getting metrics without using slc
	Monitoring with slc
		Defining custom metrics
		Object tracking
		Integrating with third-party consoles
			Using third-party APM consoles
		Monitoring the event loop with watchdog
	Metri

[2015-03-23 18:55] crandmck commented on #153
I added bullets above to make the hierarchy more apparent.

Also, you omitted two articles:
 - [Monitoring the event loop with watchdog](http://docs.strongloop.com/display/SLC/Monitoring+the+event+loop+with+watchdog)
- [Metrics API](http://docs.strongloop.com/display/SLC/Metrics+API)

Yes, but I would like to have a "Quick setup" somewhere, because [Setting up monitoring](http://docs.strongloop.co

[2015-03-24 15:32] DeniseLee commented on #153
@sam-github. Please review this page. http://docs.strongloop.com/display/SLC/Monitoring+with+slc+on+a+local+machine. I think we are going to put the work mentioned in the previous comment in a different issue.

[2015-03-24 17:27] Setogit commented on #148
Break down to smaller pieces and figure out inter dependencies to define which pieces, if not all, make a reasonable milestone for the sprint.

[2015-03-24 21:30] crandmck opened #163 "If app dependencies not installed, slc start fails and gives incorrect message "App `.` started under local process manager.""
[code]
And if you try to load http://localhost:3000/ you can confirm the app doesn't respond.

Now:
[code]
Then after running this
[code]
Everything works fine:
[code]

[2015-03-24 21:58] #163 closed

[2015-03-24 22:01] sam-github commented on #163
That's how it works. `slc start` (unlike build+deploy, but ***like*** the arc "app controller start") runs the app "in place". If it isn't runnable, it doesn't run.

Two things to note in above, though:

- If you had done `slc ctl log-dump`, one of the suggested cmds, you would have seen error messages about require failing
- after you did `npm i`, you did `slc start` again... you didn't have to:

[2015-03-24 22:09] crandmck commented on #163
It just seems like a usability issue.  It says `App `.` started  ...` but it is not.  Isn't there any way to tell if the app is not actually running, and provide a more accurate message, i.e. the stack trace or even just "Unable to start app -- do "slc ctl log-dump" to see errors."

This also makes me think that simply replacing `slc run` with `slc start` everywhere in the LoopBack docs is a bad i

[2015-03-24 22:11] sam-github commented on #153
"Manger"?

I would add to that sentence: "and assumes a statsd server is listening on localhost port 5140." You probably want to link to where they can get such a server, and also this is just meant to be a statsd example, I guess? Because it doesn't mention the existence of all the other places metrics can be published, its specific to statsd.

URL formats for metrics are documented here: https:/

[2015-03-25 02:01] ritch commented on #155
+1 for this... why not just make it configurable and use node's default OOTB?

[2015-03-25 02:11] rmg commented on #155
@ritch that's what the feature request is. It already listens on the default (`0.0.0.0`).

[2015-03-25 23:10] cgole opened #165 "windows issues - cannot deploy to windows"
PS C:\Users\Administrator> slc pm -l 7777
slc pm: StrongLoop PM v3.1.19 (API v5.0.13) listening on port `7777`
slc pm: control listening on path `\\?\pipe\C:\Users\Administrator\pmctl`
slc pm: listen on 7777, work base is `C:\Users\Administrator\.strong-pm`
commit 8d45dc921fefc22cfe7e442010c06836f3b7cafe spawn `npm rebuild`...
Stop current (none)
events.js:85
      throw er; // Unhandled 'error' e

[2015-03-25 23:12] cgole opened #166 "windows issues : Cannot deploy app from windows to remote linux pm server"
Connect to strongloop-internal/scrum-nodeops#389

$ slc pm -l 7777
slc pm: StrongLoop PM v3.1.15 (API v5.0.9) listening on port `7777`
slc pm: control listening on path `/root/pmctl`
slc pm: listen on 7777, work base is `/root/.strong-pm`
Stop current (none)

events.js:72
        throw er; // Unhandled 'error' event
              ^
Error: spawn ENOENT
  at errnoException (child_process.js:1011:11)

[2015-03-25 23:43] cgole opened #167 "windows-issues: Arc app controller does not work"
I have a basic loopback app.
I open arc on a windows browser and use the app controller to start the app,  it says 'starting' for a while, but status eventually changes back to 'stopped'
node version - 0.12.0
slc version - 3.0.10

windows vm -  198.11.207.109/Administrator/NjM4p4vL
Arc console log-

Start Runner: commit default/local-directory in C:\Users\Administrator\workspace\test1
2015-03-31T1

[2015-03-25 23:47] cgole opened #168 "windows issue : slc start fails with ftruncate"
 PS C:\Users\Administrator\workspace\loopback-app> slc start
Error: connect ENOENT

[2015-03-27 00:40] piscisaureus commented on #166
@sam-github

I noticed that there are a couple of places where we use npm. Would it make sense to create a separate 'spawn-npm' package that just does the right thing(tm).

The other thing is that ideally we wouldn't run npm via the .cmd shim. Instead it'd be more ideal to locate npm-cli.js and run it directly. Would it be an idea to make npm a dependency of strongloop so we always know where it i

[2015-03-28 00:32] chandadharap commented on #166
Connect to strongloop-internal/scrum-nodeops#389

[2015-03-31 17:54] sam-github commented on #166
Having an npm-spawn could make sense. `slc build` and strong-pm are, I think, the only callers of npm ATM.

What's wrong with calling via .cmd shim?

It would be possible to find npm.cmd in the path, read the shim, find the npm-cli.js location, and direct run the npm-cli.js... That might be too convoluted to do just as an effort to reduce install time.

npm would have to be a dependency of strong-

[2015-03-31 17:58] rmg commented on #166
13MB for npm is pretty small compared to the 380MB that `npm install -g strongloop` is already.

[2015-03-31 18:02] piscisaureus commented on #166
@sam-github

Currently, not so much. But .cmd files have this problem that they can't be used to reliably forward command line arguments. That's because certain characters (`%` and `^` and `!`) have to be escaped. But since the .cmd processor re-interprets them they'd have to double escaped, or (if the .cmd file calls another .cmd file) quadruple-escaped, etc.

Agreed, although we'd have to be a b

[2015-03-31 18:59] piscisaureus commented on #167
@cgole I can't really tell from the log what's going on. There are no useful diagnostic messages in there. Is there a way I can get access to that machine?

[2015-03-31 19:51] cgole commented on #167
windows vm - 198.11.207.109/Administrator/NjM4p4vL

[2015-03-31 21:59] cgole commented on #118
not an issue anymore

[2015-03-31 21:59] #118 closed

[2015-04-01 18:35] kraman opened #174 "Create preliminary mock mesh-central to use as mock data for the Mesh UX design"
Create mock mesh-central for UI to run against with full tree of executors, instances, processes, metrics etc.

[2015-04-02 21:04] chandadharap commented on #174
service, executor, instance, processes?

[2015-04-06 19:07] cgole opened #176 "Azure on Marketplace"
After the image is ready, the test reports and other compliances

[2015-04-07 23:49] kraman commented on #174
https://github.com/strongloop/strong-mesh-models/tree/feature/mock-mesh-central

`node test/mock-server.js`

[2015-04-07 23:50] kraman commented on #174
/cc @altsang

[2015-04-08 00:50] DeniseLee commented on #153
Ready for your review, @sam-github. http://docs.strongloop.com/display/SLC/Monitoring+with+slc+on+a+local+machine and http://docs.strongloop.com/display/SLC/Integrating+with+third-party+consoles.

We'll be changing the third-party console info to include viewing metrics on a remote machine.

[2015-04-10 00:17] altsang commented on #174
awesome, thx @kraman we'll check out

[2015-04-10 00:34] altsang commented on #174
/cc: @anthonyettinger, @seanbrookes, @jtary, @stacy-hunt

here we go guys - next version of Mesh based Process Manager API mock we
can use to get started, pls checkout

On Tue, Apr 7, 2015 at 4:50 PM, Krishna Raman <notifications@github.com>
wrote:

--
Al Tsang
Co-Founder and CTO @ StrongLoop, Inc.

*StrongLoop <http://strongloop.com/>** makes it easy to **develop APIs
<http://strongloop.com/mobil

[2015-04-10 00:35] altsang commented on #174
verified on feature/mock-mesh-central

[2015-04-10 00:35] #174 closed

[2015-04-10 16:39] chandadharap commented on #176
moved out of current sprint. overloaded and still need Product planning

[2015-04-10 18:54] sam-github commented on #153
- remove the `Use without slc` section, we don't document how to pull apart our toolset and use the components
- neither the 3rdparty components or local machine sections describe how to do this in production, they just describe `slc start`. Rand's notes describe sl-pm-install, docker.sh should be added to that.

I don't think the split between thirdparty consoles and local machine is useful.

1.

[2015-04-12 16:04] sandipp opened #178 "sudo: sl-pm-install: command not found"
I've used following command to install sl-pm
` npm install -g strong-pm && sl-pm-install`

Then I've tried following command and got error as follows.
`sudo sl-pm-install --upstart=0.6`
`sudo: sl-pm-install: command not found`.

I'm running on `Centos6`, `AWS` `ec2` machine.

[2015-04-12 17:04] rmg commented on #178
CentOS does not put `/usr/local/bin` in it's "secure_path" as used by `sudo`.

You can either edit your sudoers file (use `sudo visudo`, you can't edit it directly) or you can give it a more complete $PATH manually. If you do `sudo env PATH=$PATH sl-pm-install --upstart=0.6` it will run with the same $PATH as your current shell, which get you up and running.

[2015-04-13 06:24] sandipp opened #179 "slc start giving error Error: pm failed, exit with status 1"
I'm running nodeapp on `Centos6`, `AWS ec2` machine.
I've installed `strongloop`  using this command `npm install -g strongloop`
`slc -h` is available for me.
I'm having `express.js` application my application start point is in `/app_path/bin/www`
for both `slc start` and `slc start www` command in  `/app_path/bin/` giving me following error

`Error: pm failed, exit with status  1`

[2015-04-13 06:27] sandipp commented on #179
even for your sample app giving me same error
[code]

[2015-04-13 17:52] sam-github commented on #179
Can I have the debug output, please (as a gist, it will be very long):

[code]

[2015-04-13 17:57] sam-github commented on #179
Your immediate problem happens with the example-express-app, but keep in mind that you must configure the start point for your application:

And neither of the above approaches are going to work.

Packages will be run by requiring the first that is found of:
1. server.js
2. app.js
3. `main` property of package.json
4. index.js

Creating a server.js consisting of `require("app_path/bin/www")` might

[2015-04-13 20:28] rmg commented on #178
@sandipp did my instructions solve your problem?

[2015-04-14 06:14] sandipp commented on #178
@rmg yeah, it worked thank you.

[2015-04-14 06:14] #178 closed

[2015-04-14 06:19] sandipp commented on #179
@sam-github I've created server.js then tried modifying package.json as per your instructions, none of it worked, I'm still getting exact same error.
Please find output of  `DEBUG=* slc start >debug.log 2>&1` as gist.
[slc_debug.log] (https://gist.github.com/sandipp/76af2582e9729f5d7c75)

[2015-04-14 06:27] sandipp commented on #179
@sam-github fyi if I run `slc run bin/www ` or `node bin/www` for the same project then its working fine, but I really want to use `strong-pm`.

[code]

[2015-04-14 16:01] rmg commented on #179
@sandipp are you running this on the same server you installed PM as a service on? `slc start` is failing because there is already something running on its port.

[2015-04-14 23:00] cgole commented on #167
not specific to windows. dup of 1139

[2015-04-14 23:00] #167 closed

[2015-04-14 23:14] crandmck commented on #153
OK, I revised all the docs under "Metrics" substantially.   I believe I captured all of Sam's most recent comments above...

Summary:
- Renamed the whole section from "Monitoring" to "Monitoring app metrics" since Arc calls it "Metrics" and there was some lively discussion of whether "metrics" or "monitoring" made more sense.  I just went with both!
- Consolidated all the content that was in "Inte

[2015-04-15 17:58] sandipp commented on #179
@rmg, I thought same so, I've reverted all settings and setup new instance with `centos7`.
But now I'm getting new error.
I've followed following commands to run `strong-pm` as service

[code]

The last status command sent me this output

[code]

Now I'm not sure how to add my application path to this daemon?

[2015-04-15 18:11] sandipp commented on #179
I also have  tried following command to add my but no success.
[code]
I think `strong-pm` documentation is should be more specific.

[2015-04-16 15:54] sam-github commented on #179
--base is the working directory of pm, not your app, see the pm-install usage.

I recommend you install using the documented procedure: http://strong-pm.io/prod/#npm-install

However, it looks from the output of https://github.com/strongloop/strong-pm/issues/179#issuecomment-93503412 that you sucessfully installed pm.

To add your app, follow the directions here: http://strong-pm.io/prod/ , partic

[2015-04-17 06:30] chandadharap commented on #153
@crandmck  Why are we renaming Monitoring to Monitoring app metrics? This was a specific decision.

@sam-github, please assign back to me after you finish.

[2015-04-17 17:08] crandmck commented on #153
@chandadharap

Yes, this was my decision and I explained the rationale above:

One can make an argument for either rubric:
- In the Arc UI it is "Metrics" so normally documentation would follow the UI naming.  Otherwise, there is a clear disconnect and possibility of confusion.  Every other Arc module has a fairly clear corresponding section in the docs.
- The actual verb / activity is "Monitoring

[2015-04-20 05:09] chandadharap commented on #153
well, i guess my point was Issac specifically made that decision. Arc will be changing to Monitoring in the near future.

Lets discuss in live.

[2015-04-20 16:44] sam-github commented on #141
two bugs:

pm run with nothing pushed, sl-meshctl dies:

[code]

- api version unknown?
- `1.undefined.10510`, something is undefined?

[code]

[2015-04-20 16:56] sam-github commented on #141
bug: PORT isn't set to 3000 + service ID (I can see code in service-manager.js, but it isn't working, app listens on 3000).

[2015-04-20 17:02] sam-github commented on #141
sl-meshctl:

- services are sorted highest first?
- port isn't reported in status output

[2015-04-20 17:41] sam-github commented on #153
REVIEW COMMENT from Rand

Priority and facility is provided along with the message to the syslog server. syslog servers can act on that data. See examples, for example for OS X:

https://developer.apple.com/library/mac/documentation/Darwin/Reference/ManPages/man5/syslog.conf.5.html

Commonly they discard messages below particular priorities, and perhaps redirect different facilities to different f

[2015-04-20 17:42] sam-github commented on #153
LGTM

[2015-04-20 18:18] crandmck commented on #153
OK, thanks.  We can close this issue now AFAIC.

[2015-04-20 18:27] chandadharap commented on #153
I need to review, will do quickly

On Mon, Apr 20, 2015 at 11:18 AM, Rand McKinney <notifications@github.com>
wrote:

--
Chanda Dharap
Director, Engineering
@StrongLoop Inc
(510) 304-3924
chanda@strongloop.com

*StrongLoop <http://strongloop.com/>** makes it easy to **develop APIs
<http://strongloop.com/mobile-application-development/loopback/>** in Node,
plus get DevOps capabilities
<http://stron

[2015-04-20 21:37] chandadharap commented on #153
@ijroth For now Im going with Monitoring App Metrics until we figure what we call the bucket of things in Arc that aid Monitoring.

[2015-04-20 21:37] #153 closed

[2015-04-21 17:42] rmg opened #181 "Docker driver"
Create driver to dockerize a deployed app (using strongloop/strong-docker-build) and run it as a docker container (using strongloop/strong-docker-run).

See strongloop-internal/scrum-nodeops#425

[2015-04-21 17:51] rmg commented on #181
Closing as duplicate of strongloop-internal/scrum-nodeops#402

[2015-04-21 17:51] #181 closed

[2015-04-21 18:21] crandmck opened #182 "Docs for multi-app support"
There will be both changes and additions for this feature.
Also update http://strong-pm.io/compare.

 See:
- #141
- https://github.com/strongloop-internal/scrum-nodeops/issues/373
- https://github.com/strongloop-internal/scrum-nodeops/issues/315
- https://github.com/strongloop-internal/scrum-nodeops/issues/417

Among other things, need to update [slc ctl command ref](http://docs.strongloop.com/dis

[2015-04-22 05:28] deepak-kapoor opened #183 "slc ctl gives an error "Command status failed with Error: specified encoding unsupported""
## environment

node version: 0.12.2
stronloop: 3.0.6
OS: OS X 10.10.3 (14D136)
## Steps to reproduce the issue

execute `slc ctl`
## Output from my machine

[code]

[2015-04-22 05:43] rmg commented on #183
Was this after running `slc start` on your app? Or was `slc pm` run from another shell?

[2015-04-22 06:31] deepak-kapoor commented on #183
It was after ```slc start```

[2015-04-22 15:27] rmg commented on #183
@deepak-kapoor do you get the same error if you do `slc ctl env-get`?

[2015-04-22 15:45] rmg commented on #183
From [strongloop/chat](https://gitter.im/strongloop/chat?at=55372218b87b513e2b11cedc)
[code]
aside: @kraman @sam-github we should probably start including strong-mesh-models in this list somewhere.

[2015-04-23 01:06] deepak-kapoor commented on #183
When I run ```slc ctl env-get``` I get the same error

[2015-04-24 14:30] rmg opened #185 "Need better errors when git is not installed"
From PM side:

[code]

From deploy side:

[code]

There is no indication to anyone (except me, apparently) that this is the result of `git` not being installed on the server.

See also: #186

[2015-04-29 21:24] crandmck commented on #182
In progress (hidden):
- [slc build](http://docs.strongloop.com/pages/viewpage.action?pageId=6719159)
- [slc deploy](http://docs.strongloop.com/pages/viewpage.action?pageId=6719157)
- [slc ctl](http://docs.strongloop.com/pages/viewpage.action?pageId=6719149)

[2015-05-06 16:23] sam-github commented on #182
`slc ctl` docs haven't had the per-worker commands updated with the new argument format.

Specifically, the docs still say:

But it should be: https://github.com/strongloop/strong-mesh-models/blob/master/bin/sl-meshctl.txt#L91-L96

[2015-05-06 17:51] crandmck commented on #182
Yes, I haven't updated that yet.  Will do so asap.

[2015-05-06 22:06] crandmck commented on #182
Updated http://docs.strongloop.com/pages/viewpage.action?pageId=6719149

[2015-05-08 00:59] sam-github commented on #182
lgtm

[2015-05-11 04:19] chandadharap commented on #182
done.

[2015-05-11 04:19] #182 closed

[2015-05-11 16:04] #141 closed

[2015-05-13 06:45] facascante opened #202 "Deploying express-app not working properly"
Hi,

i tried to deploy a basic express app generated by express-generator.
i run it in node bin/www and it's working fine.
but when i deploy it in remote pm it seems to be deployed but not running

here is the status from slc

[code]

here is the strong-pm logs

[code]
here last lines from the logs from log-dump

[code]

and you can try the sample-express-app im deploying in this public repo

http

[2015-05-13 07:45] paulJordaan opened #203 "App does not update after deploy"
When using ``slc deploy http:\\hostname.com`` the changes are not added to the live site.

 I can see the new branch under ``/var/lib/strong-pm/work`` but the 'current' symlink does not seem to update. Is there a way to force a switch to the new branch or could you perhaps hint at why it is not updating?

[2015-05-13 14:02] rmg commented on #202
PM will run app.js when you deploy this app, not bin/www.js. That would explain the why it isn't running and also why it isn't crashing.

[2015-05-13 21:26] facascante commented on #202
i see thanks i'll try and close this issue if that work :)

[2015-05-13 21:34] facascante commented on #202
it work's when i move content of bin/www to app.js... thank you. so it must be strict to use app.js...

suggestion : better if we can read the package.json or just run the app using "npm start" command :) with that we can specify how are app should be run :)

[2015-05-13 21:34] #202 closed

[2015-05-13 21:46] sam-github commented on #202
We do read the package.json, app.js is only one of the options:

https://github.com/strongloop/strong-supervisor/blob/master/bin/sl-run.txt#L5-L11

We can't use npm start, its a shell script, and the supervisor needs to directly run a *node.js* file, both to make it a cluster worker and so that we can load instrumentation before passing control to the "app" script.

For some npm start commands, it

[2015-05-13 22:02] facascante commented on #202
copy. so it's the main property of package.json. i see cool :)

[2015-05-14 18:18] bobgreen5s opened #205 "strongloop process continuously restarting"
Hi, I noticed in /var/syslog that strong-pm was constantly exiting and restarting so I looked at the logs in /var/log/upstart/strong-pm.log and noticed the following error message repeating:

[code]

Anyone have any ideas?

Any help would be appreciated
- Thanks, David

[2015-05-14 18:21] sam-github commented on #205
That's a  bug we've found and fixed, I'll publish the fix.

[2015-05-14 18:26] sam-github commented on #205
strong-pm@4.1.1 should fix this, can you please confirm?

[2015-05-14 18:40] davidshepard989 commented on #205
Looks like its all working now!

Thank for that extremely prompt fix, I really appreciate it.

[2015-05-14 18:41] bobgreen5s commented on #205
Looks like its all working now!

Thank for that extremely prompt fix, I really appreciate it.

[2015-05-14 18:41] #205 closed

[2015-05-18 06:46] piscisaureus opened #207 "`slc ctl log-dump` crashes pm"
Sometimes, hit or miss. Trace:

[code]

[2015-05-18 13:44] javefang opened #208 "Option to disable `npm rebuild` at deploy time"
OS: RHEL 6.6
node.js: 0.10.36
strong-pm: 4.1.0

I noticed that strong-pm always try to run `npm rebuild` and `npm install --production` at deploy time.
https://github.com/strongloop/strong-pm/blob/master/LIFE-CYCLE.md

The `npm install --production` is fine, as all non dev dependencies are declared as `bundledDependencies` in package.json. But `npm rebuild` is problematic when some package has nat

[2015-05-19 04:50] chandadharap commented on #148
Obsolete, should be closed?

[2015-05-19 17:26] jrschumacher opened #210 "Add ability to specify node version in docker"
I'd like the ability to specify the version of node I wish to use. Possibly use `nvm`.

[2015-05-19 23:13] mstoddart opened #211 "Cannot specify port for app to run on"
Previously, setting PORT=X would allow us to force strong-pm hosted applications onto port X. Now apps are run at port 3000 + serviceId (https://github.com/strongloop/strong-pm/blob/3c845e180adab55ad779328e8b172bc7e2856766/lib/service-manager.js#L372). As mentioned in the documentation (http://docs.strongloop.com/display/NODE/slc+ctl), this port number cannot be guaranteed. A good solution is to u

[2015-05-20 00:51] rmg commented on #207
Looks like https://github.com/strongloop/strong-pm/commit/fbde6443be400c8ba59d79a150d917a15e1e47fb#diff-b44554d6c8172cb760b6aa6ccb317906R113 has a typo in it.

Should probably be:
[code]
Instead of:
[code]

[2015-05-20 00:58] rmg commented on #208
The current behaviour is because it is very common to do development on Mac and Windows and then deploy to Linux, but your setup should also work. @sam-github any thoughts?

[2015-05-20 08:33] javefang commented on #208
Hi @rmg, I understand and we develop on windows as well. However, our policy does not allow any build/compilation at deploy time. (i.e. everything should be built and archived on the build server, tested on a test server with the same spec as production before deploy)

In addition, build on the production server will require node-gyp to fetch node development header files from nodejs.org, which is

[2015-05-20 17:29] rmg commented on #210
Note for others: this is referring to containerized PM, not PM containerizing apps.

[2015-05-20 19:32] rmg commented on #208
@javefang sorry if it wasn't clear, I completely agree with you.

[2015-05-21 15:52] ryedin commented on #183
Having the same issue

[2015-05-21 15:55] ryedin commented on #183
here is the output of `ps -ef | grep node` after running `slc start`... that's a CRAZY number of processes.

[code]

[2015-05-21 18:07] piscisaureus commented on #207
This was apparently fixed in https://github.com/strongloop/strong-pm/commit/e0a51b7da1a5f8df2c8d0a8b63c7517dcf7ca153

[2015-05-21 18:08] #207 closed

[2015-05-22 21:42] kraman opened #218 "PM crashes when DB is corrupt or missing (should send back error and stay alive)"
[code]

[2015-05-23 05:29] sam-github commented on #211
You can modify your app to ignore PORT and listen to anything you want, there is nothing strong-pm does to prevent apps running on the port they want (other than setting PORT, which is just convention, albeit fairly universal).

We're a bit between a rock and a hard place:

1. no port can be guaranteed
2. no app can be trusted to have hard-coded into it a free port
3. very few apps will listen on

[2015-05-23 05:31] sam-github commented on #203
I suspect it has failed to npm install, what does the strong-pm log say?

[2015-05-26 12:00] antoniocb commented on #211
Hi Sam, could we at least override the starting port, ex: 40000, 40001...
Thanks.

[2015-05-26 14:37] carloscarcamo commented on #202
:+1:

[2015-05-26 17:59] sam-github commented on #211
@antoniocb that would be very reasonable, I'll try to get it in the next release. You can hack it quickly: https://github.com/strongloop/strong-pm/blob/v4.1.1/lib/service-manager.js#L365

A proper fix will take me some more time, it will need to work for docker, too.

[2015-05-27 17:46] rmg commented on #218
FWIW, that stacktrace shows it _is_ trying to send back an error but crashing in the process.

[2015-05-27 18:27] rmg commented on #211
Maybe an environment variable like `STRONG_PM_BASE_PORT` with a fallback to `3000` if not set?

@antoniocb @mstoddart this might be an easy first PR if you're looking to contribute.

[2015-05-27 20:43] Bohmaster opened #221 "Latest strong-pm docker image breaks app"
5 weeks ago I've followed this tutorial https://strongloop.com/strongblog/run-create-node-js-process-manager-docker-images/ and my deployment process worked just fine.
A week ago I did it again (updating my image) and my app broke (not running on port 3000).
I did an slc run and the port 3000 was running it just fine.

Then I've followed the tutorial again but instead of using the "strongloop/stro

[2015-05-27 20:49] rmg commented on #221
The ports changed when multi-app support was added. Your app would have been running on port 3001 (3000 + service id).

[2015-05-27 21:04] Bohmaster commented on #221
Thank you for your rapid response.

This command is still useful?

docker run --detach --restart=no \
--publish 8701:8701 --publish 3000:3000 \
--name strong-pm-container \
strongloop/strong-pm

If I underestand my app should be running on port 3001? I don't understand what "(3000 + service id)" means.

Thanks again!

[2015-05-27 21:12] rmg commented on #221
@Bohmaster that is correct, the install script needs to be updated.

[2015-05-27 22:23] Bohmaster commented on #221
I can't get it to work. Could you please show me how the new install script should be implemented? Thanks!

[2015-05-27 22:27] Bohmaster commented on #221
@rmg I can't get it to work. Could you please show me how the new install script should be implemented? Thanks!

[2015-05-27 22:39] rmg commented on #221
The `--publish 3000:3000` should be changed to something like `--publish 3001-3010:3001-3010` so that a range of ports is published.

[2015-05-27 22:54] Bohmaster commented on #221
@rmg I'm sorry, I don't want to bother you. I've tried that configuration but my app is not running on any port.

tcp6       0      0 :::3001                 :::*                    LISTEN      0          4023658     25658/docker-proxy
tcp6       0      0 :::3002                 :::*                    LISTEN      0          4023763     25702/docker-proxy
tcp6       0      0 :::3003

[2015-05-27 22:58] rmg commented on #221
@Bohmaster is there anything in the strong-pm logs? `docker logs strong-pm-container` should do it.

[2015-05-27 23:02] Bohmaster commented on #221
@rmg

LOG:
sl-pm: StrongLoop PM v4.1.1 (API v6.1.0) listening on port `8701`
sl-pm: control listening on path `/home/strong-pm/pmctl`
sl-pm: listen on 8701, work base is `/home/strong-pm`
Request (set-size) of current (none)
npm WARN package.json app@1.0.0 No license field.
Run request for commit "default/npm-pack" on current (none)
Start Runner: commit default/npm-pack
Request (status) of current

[2015-05-28 00:24] rmg commented on #221
Do you have any firewall policies that need to be adjusted because of the app port changing from 3000 to 3001?

Does `docker port strong-pm-container` show that the ports are being published properly?

[2015-05-28 00:33] Bohmaster commented on #221
It was the firewall. I've added this new rule:

Protocol    Port   	            IP
TCP	         3001  to  3010	    0.0.0.0/0

Now it works just fine. Thank you very very much!

[2015-05-28 00:33] #221 closed

[2015-05-28 16:12] sam-github commented on #168
What is status?

[2015-05-31 15:17] fuson opened #225 "CoffeeScript support"

[2015-06-01 07:09] dhirenderbp opened #226 "slc start is not running"
When i run slc start with write log to a file then it gives me:

Mon, 01 Jun 2015 07:03:22 GMT slc slc.run: argv [ 'start' ] options { _: [ 'start' ], '$0': 'slc' }
Mon, 01 Jun 2015 07:03:22 GMT slc loadCommand name start run? function usage? object
Mon, 01 Jun 2015 07:03:22 GMT strong-start:start app is "."
Mon, 01 Jun 2015 07:03:22 GMT strong-start:pm start
Mon, 01 Jun 2015 07:03:22 GMT strong-s

[2015-06-01 08:07] dhirenderbp opened #227 "Not able to get or set the environment variable using slc command line"
When i hit "slc ctl -C http://remote-host env-get app-name" then it return error
"Command env-get failed with Error: There is no method to handle GET /ServiceInstances/1".

I am following http://docs.strongloop.com/display/SLC/Setting+and+viewing+environment+variables

[2015-06-01 16:41] rmg commented on #226
It looks like the sqlite3 native binding didn't build properly. Can you give the output of `slc version`?

[2015-06-01 16:45] rmg commented on #227
Can you give the output `slc version`?

[2015-06-01 16:51] rmg commented on #225
@fuson can you elaborate?

[2015-06-01 17:39] fuson commented on #225
For now in our web project we use PM2 with keymetrics monitoring dashboard, but looking to strong stack and "interpreters" support (in design not only coffee) looks like a primary showstopper to initiate migration activities. And i'm sure that this project is the proper place to implement it, you have "strong-runner", "strongloop" and another projects that looks like a candidate :) Anytime, we lik

[2015-06-01 17:48] mannyhenri commented on #211
I'm facing the same issue, where several people with top notch firewall software are blocking port 3000 and preventing the API to supply the data. Big frustrating issue. Any temporary solution?

[2015-06-01 18:48] rmg commented on #225
Understood. You essentially want to override `process.execPath` so that your app is run by `/usr/local/bin/coffee` (or ./node_modules/.bin/coffee`) instead of `/usr/local/bin/node`.

Is pre-compiling your app in a `prepublish` script not a workable solution for you?

[2015-06-01 19:09] rmg commented on #211
@mannyhenri if your problem is you can't specify which app your port actually listens on and your app is a loopback app, there is a [workaround](http://stackoverflow.com/a/30494491/62525), which is to set an `npm_config_port` environment variable in your app's config (`slc ctl env-set 1 npm_config_port=1234`).

[2015-06-01 19:13] fuson commented on #225
But what we receive in stack traces? .js line numbers that is absolutely irrelevant with .coffee code? Its not a good idea :(

[2015-06-01 19:35] rmg commented on #225
My execPath comment was more about intent than actual implementation.

As for stack traces, I had assumed the `coffee` compiler took care of that, otherwise it wouldn't be so popular. Seems I was mistaken.

[2015-06-02 05:15] dhirenderbp commented on #226
strongloop v3.1.1 (node v0.12.2)
├── strong-arc@1.1.0
├── strong-build@1.0.3 (5a43a57)
├── strong-deploy@1.2.0 (1c78f8d)
├── strong-pm@3.1.9 (9579431)
├── strong-registry@1.1.4 (aab3dbb)
├── strong-start@1.0.3 (b23e63f)
├─┬ strong-supervisor@1.5.2 (cd3897a)
│ └── strong-agent@1.4.0
├── generator-loopback@1.9.0 (b90e9cd)
├── node-inspector@0.7.4
└── nodefly-register@0.3.3

On Mon, Jun 1, 2015 at 10

[2015-06-02 05:15] dhirenderbp commented on #227
strongloop v3.1.1 (node v0.12.2)
├── strong-arc@1.1.0
├── strong-build@1.0.3 (5a43a57)
├── strong-deploy@1.2.0 (1c78f8d)
├── strong-pm@3.1.9 (9579431)
├── strong-registry@1.1.4 (aab3dbb)
├── strong-start@1.0.3 (b23e63f)
├─┬ strong-supervisor@1.5.2 (cd3897a)
│ └── strong-agent@1.4.0
├── generator-loopback@1.9.0 (b90e9cd)
├── node-inspector@0.7.4
└── nodefly-register@0.3.3

On Mon, Jun 1, 2015 at 10

[2015-06-02 12:17] mannyhenri commented on #211
@rmg thanks I'll try that as most firewalls in companies block port 3000

[2015-06-02 16:13] rmg commented on #226
@dhirenderbp can you try updating strongloop with `npm install -g strongloop`?

[2015-06-02 16:25] rmg commented on #227
Same as the other issue, please update `strongloop` and see if the problem still exists.

[2015-06-02 16:28] rmg commented on #211
@mannyhenri do you mean they block 3000 specifically? Or they block everything but 80/443?

[2015-06-03 13:14] mannyhenri commented on #211
@rmg most likely they do (ex.: one of my client couldn't see their site at a school and the same at their company until they opened port 3000 on their firewall). I mustn't be the only one experiencing such issues...Is it OK to switch the 80/443 ports instead for loopback?

[2015-06-03 14:47] rmg commented on #211
The usual, and often recommended, solution is to either run a reverse proxy such as nginx or to set up a firewall policy on the server itself to redirect port 80 requests to the port your app is running on. This is because you should generally be running your app with the least privileges possible, and running on ports lower than 1024 requires root (or setting capabilities). That is why `slc pm-in

[2015-06-05 18:27] mannyhenri commented on #211
@rmg So by doing the SLC PM-INSTALL it should resolve most of my issues with firewalls correct? I want to make sure as this is a production system that will have an impact on the client if it doesn't work as before.

[2015-06-05 19:53] rmg commented on #211
@mannyhenri no, installing a proxy or creating appropriate iptables redirects will resolve most of your issues with firewalls. Listening on port 80 directly will get _harder_ by using `slc pm-install` because it will run PM as a non-root user that is not _allowed_ to listen on port 80.

[2015-06-07 14:13] #158 closed

[2015-06-10 15:22] yagobski opened #238 "App not start in production server after slc deploy http://xxxx"
Hi,

I have strange problem to deploy my app to production server.
I setup strong-pm on my production server all is fine.
I use Git. I can build my app using slc build i have no errors

slc deploy http://admin:xxxxxxxx@www.xxxxxxxx.com
Counting objects: 6621, done.
Delta compression using up to 8 threads.
Compressing objects: 100% (6131/6131), done.
Writing objects: 100% (6607/6607), 6.90 MiB | 10

[2015-06-10 16:09] kraman commented on #168
@sam-github @cgole Why is this in verify? Is this still bug?

[2015-06-10 22:24] rmg commented on #238
@yagobski what does `slc ctl -C http://admin:xxxxxxxx@www.xxxxxxxx.com status` show? Are there any useful log messages on the server or from `slc ctl -C http://admin:xxxxxxxx@www.xxxxxxxx.com log-dump 1`?

[2015-06-10 23:12] cgole commented on #168
still a bug.
D:\loopback-example-app-2>slc start
Error: pm failed, exit with status  8

[2015-06-11 06:59] yagobski commented on #238
@rmg
Service ID: 1
Service Name: XXXXX
Environment variables:
  No environment variables defined
Instances:
    Version  Agent version  Cluster size  Driver metadata
     4.2.0       1.6.0            2             N/A
Processes:
        ID      PID   WID  Listening Ports  Tracking objects?  CPU profiling?  Tracing?
    1.1.11134  11134   0
    1.1.26662  26662  207    xxxxxxxx:3001
    1.1.26668

[2015-06-11 17:26] rmg commented on #238
That `slc ctl status` output shows very high WIDs (worker ids), which suggests the app is crashing and being restarted frequently. Based on the error you are seeing in the logs, I'd say you found the culprit.

@yagobski I'm closing this as a duplicate of strongloop/loopback#1430 to simplify tracking.

[2015-06-11 17:44] rmg commented on #238
@yagobski my apologies, I didn't read closely enough. That error message shouldn't be causing your app to crash.. but your app _does_ appear to be crashing and restarting.

Another thing to make sure of is that your server has port 3001 open on any firewalls that may be in place (or security groups in the case of AWS).

[2015-06-11 19:29] yagobski commented on #238
Thanks for your answer I fixed the problem by creating the app from scratch and moving all my files one by one like that I use the strong loop last version. Know I can deploy to production even with the Myql error in the log.

How can I know if my app is crashing and restarting?
Thanks in advance.

[2015-06-11 19:38] rmg commented on #238
@yagobski there isn't currently a better way of checking for repeated crashes than looking at the worker ID and your app's logs.

On your server, did you do `npm install -g strong-pm`? or `npm install -g strongloop`?

[2015-06-11 19:53] yagobski commented on #238
I do strong-pm installation in prod and strong loop installation in local

[2015-06-11 19:54] rmg commented on #238
Did you say you reverted the server to an older version of strong-pm?

[2015-06-11 22:41] yagobski commented on #238
No i upgrade my strongloop app to the last version.

The app is live in production now but i still have mysql error and my app status :
You think the app is still crashing and restarting?

Service ID: 1
Service Name: XXXX
Environment variables:
  No environment variables defined
Instances:
    Version  Agent version  Cluster size  Driver metadata
     4.2.0       1.6.0            2             N/A

[2015-06-11 22:47] rmg commented on #238
The worker IDs are only slightly higher than the ones posted yesterday, which could be from deployments. If your app is accessible, then I'd say everything is more or less working.

[2015-06-15 23:25] rmg commented on #227
@dhirenderbp is this still broken for you? Or can the issue be closed?

[2015-06-15 23:26] rmg commented on #226
@dhirenderbp any update?

[2015-06-16 16:40] #227 closed

[2015-06-16 16:41] rmg opened #243 "Support docker in docker"
Support using `--driver docker` when running strong-pm as a docker container itself.

[2015-06-17 17:11] behrad opened #244 "installing on iojs"
I'm having problem installing and running strong-pm on centos 7, `iojs 2.3.0` installed via `nvm 0.25.4`

[code]

which npm: /root/.nvm/versions/io.js/v2.3.0/bin/npm
which node: /root/.nvm/versions/io.js/v2.3.0/bin/node

[2015-06-17 17:14] rmg commented on #244
Your trouble here is from `nvm`, not `iojs`. The problem is `nvm` doesn't install node system-wide, which is generally what is required for system services to operate properly.

[2015-06-17 17:16] behrad commented on #244
I read https://github.com/creationix/nvm/issues/745 and https://github.com/strongloop/strongloop/issues/200
it seems I can't use nvm + strongloop in production.
should I download iojs releases, unzip, ln -s to /usr/bin then!?

[2015-06-17 17:23] rmg commented on #244
@behrad that's what I normally do.

[code]

[2015-06-17 17:32] behrad commented on #244
nice one-liner @rmg
lemme test the whole thing this way :)

[2015-06-17 17:41] rmg commented on #244
If you want the real one-liner, and you don't care about verifying the download, there's:
[code]

[2015-06-17 18:26] behrad commented on #244
after installing iojs:

[code]

causes

[code]

and service status
[code]

[2015-06-17 18:32] behrad commented on #244
this is in my strong-pm.service
`/usr/local/bin/iojs /usr/local/lib/node_modules/strong-pm/bin/sl-pm.js --listen 8701 --base /var/lib/strong-pm --driver direct`
and it works when running it alone...

[2015-06-17 18:44] rmg commented on #244
@behrad can you dump the entire `strong-pm.service` file here? Also, you may need to add `/usr/local/bin` to the service's `PATH`.

[2015-06-17 18:55] behrad commented on #244
[code]

Whats the proper way to do that in cent 7?

[2015-06-17 19:12] rmg commented on #244
Hm. According to the docs, systemd actually puts `/usr/local/bin` in the PATH for you... Not sure if that is something that CentOS changes or not.

You would set it by adding it to the `Environment=` line, something like this:
[code]

Do you have a `/usr/local/bin/node` alias? Or only the `/usr/local/bin/iojs` file?

You should also be able to check your logs to see if there are any error messages

[2015-06-17 19:27] behrad commented on #244
i do.

/var/log/messages shows
[code]

and ls -lt /var/lib/strong-pm
[code]

`sudo chown -R  strong-pm:strong-pm /var/lib/strong-pm` seems to fix this, but eager to know why this happened!

[2015-06-17 19:38] rmg commented on #244
Up above when you said "it works when running it alone", would I be correct in guessing that you ran it as `root`?

Those files are initialized on startup of strong-pm, so running as root would result in them being created with root owning them.

[2015-06-17 19:42] behrad commented on #244
didn't sudo, but that may have been causing the issue!

Thank you @rmg for your fast help

[2015-06-17 19:46] rmg commented on #244
The `node` and `npm` paths starting with `/root/.nvm/...` is what I was going off of ;-)

Can this issue be closed?

[2015-06-18 06:08] behrad commented on #244
thank you @rmg , sure.

[2015-06-18 06:08] #244 closed

[2015-06-19 17:11] jfoliveira commented on #203
I am having the same issue and as you suspect `npm install` does not seem to be running during my `slc deploy`.
I ssh-ed to the server
`cd /var/lib/strong-pm/svc/1/work/current`
`npm install`

No errors!

Then:
`/sbin/initctl stop strong-pm`
`/sbin/initctl start strong-pm`

Few seconds later the app was running and listening.
So, if nothing went wrong with the manual process, what could be happeni

[2015-06-19 20:25] sam-github commented on #203
The chance that `npm install` was not run by pm is about zero. The chance that `npm install` behaves differently when run from command line vs. as a service is pretty good, I suspect in @jfoliveira's case, that is what is happening.

All the `npm install` output will be present in the strong-pm.log, see `/var/log/upstart/strong-pm.log` If you go back to your last deployment, you should see what `n

[2015-06-20 18:27] jfoliveira commented on #203
Thanks for replying!
I'm running upstart, and here is what I believe is the most relevant finding in the log file:
[code]
It seems during deployment process strong-pm was unable to spawn a child process to execute `npm install`.
Any ideas on how to dig deeper from here?

[2015-06-22 02:32] bossyang opened #246 "How can I start Hubot using strong-pm?"
Every hubot install has a bin/hubot script to handle starting up the hubot. Currently I use PM2 to manage the server process. Is there anyway porting this to strong-pm?

[2015-06-22 03:42] sam-github commented on #246
strong-pm will run the first found of these: https://github.com/strongloop/strong-supervisor/blob/master/bin/sl-run.txt#L5-L11

Creating a server.js in the root of your package that looked like:
[code]
would probably work. Test it by running your hubot with `slc run .` in the root of your package, and see if it runs. If it does, pm can use run it.

[2015-06-22 04:19] rmg commented on #203
Running out of memory during `npm install` has come up a few times in different contexts. Unfortunately, the cause is usually as simple as the error implies.

Usually when this comes up, it is a combination of the server having only a small amount of RAM (512mb-1gb) and not having any swap space (most cloud VMs don't enable swap by default).

[2015-06-22 04:39] rmg commented on #203
I was looking for instructions I gave elsewhere, but can't seem to find them from my phone, so I'll just type them up again..

[code]

Since I'm on my phone I'll leave making it permanent (modifying /etc/fstab) for someone else to fill in.

[2015-06-22 07:17] bossyang commented on #246
No, it doesn't work.
[code]

[2015-06-22 23:05] notbrain opened #247 "Strange process list on 2nd strong-pm service deployed to same server"
I had an existing demo.app.com purring along nicely, then worked on getting a separate instance up. I think my main issue is my original `slc ctl create` and `slc ctl deploy` command might have corrupted something. **As an aside I'm wondering how to find all the files that strong-pm installs and delete them so I can start over from scratch with both services. Is there a manual removal list somewhe

[2015-06-22 23:44] rmg commented on #247
Looking at the logs, something is definitely going awry. It seems that PM has lost track of pid 12763, which should be the master process (WID 0) for the 2 workers that actually exist.

There have been a couple patch (and a minor) releases since strong-pm@4.2.0. Are you in a position where you can upgrade to the latest?

As for cleaning up files.. if you want, you really want to, you can manually

[2015-06-23 17:09] notbrain commented on #247
Thanks, will upgrade and wipe everything and start over. Will document `slc ctl create <svc>` and see if that works as expected and avoids dupe entries with the same svc name.

Whoa...looking at strong-pm.json it has grown to 50mb overnight, and is constantly growing with what looks like constant log-dump command logs, then every once in a while all the errors associated with the fact that we have

[2015-06-23 17:26] rmg commented on #247
@notbrain do you have `slc ctl log-dump -f` running somewhere?

@kraman @sam-github is the InstanceAction means to be persisted? Seems like it probably shouldn't be..

[2015-06-23 17:39] notbrain commented on #247
I didn't have any `slc ctl log-dump -f` commands running just now; last week I was attempting to do a bunch of `slc ctl` commands while 2nd service's mongo conn was constantly error-ing (waiting for `env-set` to snap into correctness) but most of those ops resulting in 90s of waiting and then the "socket hang up" error. Restarting svc ID 2 from that point was never able to recover and run normally

[2015-06-23 18:19] notbrain commented on #247
Is there a recommended way to install strong-pm latest standalone alongside strongloop? Since this is a build server I need the full slc command suite to deploy/build.

The [docs on upgrading strong-pm](http://docs.strongloop.com/display/SLC/Setting+up+a+production+host#Settingupaproductionhost-UpgradingProcessManager) say to upgrade strong-pm by itself but then say to use slc to install everythin

[2015-06-23 18:42] rmg commented on #247
Yes, I think that change should work. If it doesn't, `/usr/lib/node_modules/strong-pm/bin/sl-pm.js` would definitely work.

If you are installing all of `strongloop` anyway on that server then there's likely no benefit from installing the standalone `strong-pm`. You can upgrade the `strong-pm` dependency with `npm install -g strongloop` (no need to uninstall first).

As an aside: For the most part

[2015-06-24 01:06] notbrain commented on #247
So far so good after I deleted everything inside /var/lib/strong-pm/, updated to 4.3.1; I was also able to use `slc ctl create` and then `slc deploy` without creating duplicate services.

The main concern left is the fact that strong-pm.json is continuously growing for no understood reason, even when I do not have any `...log-dump --follow` running. Is this file's size managed by strong-pm? I cont

[2015-06-26 03:55] zhangyaochun opened #248 "[bug?] some of package's dependencies version error"
anyone notice that:

1、 [strong-control-channel](https://www.npmjs.com/package/strong-control-channel)   --- 1.3.0
[code]

2、[strong-mesh-models](https://www.npmjs.com/package/strong-mesh-models)   --- 7.1.0

[code]

3、[strong-runner](https://www.npmjs.com/package/strong-runner)  --- 2.0.0

[code]

the above dependencies version are all wrong, for all of their's version is lower in npm.

[2015-06-26 04:44] rmg commented on #248
The versions reflect the next major releases of the dependencies, which haven't been published to npm yet. To get those versions you would need to clone the repos and use `npm link`.

The repos are:
 * [strongloop/strong-control-channel](https://github.com/strongloop/strong-control-channel)
 * [strongloop/strong-mesh-models](https://github.com/strongloop/strong-mesh-models)
 * [strongloop/strong-r

[2015-06-26 17:28] #248 closed

[2015-06-26 22:49] rmg commented on #243
The biggest changes are in how pm is run. For most cases, it is just a matter of:
 * adding `-v /var/run/docker.sock:/var/run/docker.sock` to `docker run` args to bind the docker socket
 * adding `-u :docker` to `docker run` args so pm runs as `strong-pm:docker` so it can connect to the docker socket
 * adding `--driver docker` to the container args to tell pm to use docker
 * removing any port ma

[2015-06-29 21:14] crandmck opened #251 "Document how to set app port"
PR #250 enables you to set an app's port with `slc ctl env-set <SVC> PORT=<X>`.

Need to document this:
- http://docs.strongloop.com/display/NODE/slc+ctl (drafted & ready to go)
- Somewhere under [Build & deploy](http://docs.strongloop.com/display/SLC/Building+and+deploying)
as the basic way to do it.

[2015-07-01 11:39] ernie58 commented on #251
Hi, thx for fixing this!
Any idea when this change will be available through npm install ?

Thx!

[2015-07-01 17:19] chandadharap commented on #251
Hi Ernie, we'll try an back port the fix to the latest release within the next 10 days, hope that helps,
-chanda

[2015-07-01 17:34] ernie58 commented on #251
That's great: thx!

[2015-07-07 17:54] notbrain commented on #247
Encountered another strange process list after launching an app failed because of an unset env variable. Figured I'd post here to find out what the recommended way would be to recover from such things. Makes me nervous that processes would just keep spawning so I am still not using strong-pm in production yet.

I have hard stopped the app but still see this for status - what recourse do I have bey

[2015-07-07 17:58] notbrain commented on #247
If there's anything I would suggest to make this a bit less painful - allow a file of env vars to be used instead of requiring they be set via `slc ctl env-set`. Is there a way I can do this? Where to the env vars get stored by strong-pm?

[2015-07-07 19:37] notbrain commented on #247
`slc ctl remove servicename` works to remove the service, but upon a subsequent `slc ctl create servicename`, the old service ID is no longer usable? Is this by design or just how things ended up? Short of completely deleting `/var/lib/strong-pm/*` is there a way to reuse a service ID once you've removed it?

[2015-07-07 23:10] sam-github commented on #247
It is growing a line per process that existed, we don't delete old processes ATM, is your disk really short of space?

This is a bug,  I can't reproduce, can you reproduce all the time, or just sometimes?

Have you considered doing `slc ctl -C http://production env-set $(cat my-env.txt)`?

This would be less painful than sshing into that remote host, and hacking up a file somewhere to be my-env.tx

[2015-07-07 23:12] sam-github commented on #247
/to @kraman we may need to accelerate the gc of no longer useful records from the DB. That will involve making sure there are no outstanding references to them, though.

[2015-07-07 23:15] sam-github commented on #246
[code]

Have you looked at `bin/hubot`? Its not javascript, its some kind of shell script, that apparently runs `npm install`, and then, I assume, runs the actual application main. Shell scripts can't be required by node.

What, exactly, is the main ***node javascript*** file for your bot?

[2015-07-07 23:22] rmg commented on #247
**forgot to press the green button**

The service id is incremented every time a service is created and that sequence number is tracked inside the "database" (currently a `$BASEDIR/strong-pm.json` which backs a [loopback memory datastore](http://docs.strongloop.com/display/LB/Memory+connector)).

PM itself doesn't support any sort of environment file, but strong-supervisor supports a `.env` file (

[2015-07-07 23:50] notbrain commented on #247
Thanks, will try this, was just working on something similar -- a script that would take svcname and set accordingly. @rmg yes it is not acceptable for us to commit passwords etc, so the script route is fine, $(cat env) is also something to consider.

Yes, and because OCD and simply wondering where they are kept; so these are the IDs of the entries in the strong-pm private DB? That's fine by me, a

[2015-07-08 01:35] bossyang commented on #246
Yes, `bin/hubot` is a shell script. It runs another shell script via node. With PM2, I need set interpreter to bash.

**bin/hubot**
[code]
**node_modules/hubot/bin/hubot**
[code]

[2015-07-11 17:45] chrisamoore opened #253 "I am getting this error on every environment I try to setup on."
I have tried this on a few basic Ubuntu images, and docker on a few machines. Seems pretty recent. Any help ?
It definitely looks like a strong-pm error... perhaps the memory DB whilst creating the Models?

/cc @rmg @ShubhraKar

[code]

[2015-07-11 18:00] chrisamoore commented on #253
Ok confirmed it is reproducible on just the pm, using the built in pm of strongloop is funtional via an upstart command. So.... Ideas ?

[2015-07-11 18:42] kraman commented on #253
@chrisamoore This was a bug in one of our dependencies. It has been resolved and updated as of yesterday evening. Please try your install again and let me know if this is still an issue.

[2015-07-13 18:06] chrisamoore commented on #253
will verify & let you know.

[2015-07-13 18:11] chrisamoore commented on #253
did you update the container? b/c I pulled latest & still fails.

[2015-07-13 19:51] rmg commented on #253
The strongloop/strong-pm:latest image was rebuilt on the 10th with the following deps:
[code]

[2015-07-13 19:55] rmg commented on #253
@chrisamoore it looks like the latest strongloop/strong-pm image was built just _before_ the fixed dependency was published. I've kicked off another build, so it it should be available from docker hub soon.

[2015-07-13 22:14] rmg commented on #253
strongloop/strong-pm:latest as of this writing (image id 00fbdfaa2fc0), includes the fixed dependency:
[code]

[2015-07-13 23:18] chrisamoore commented on #253
ty for the quick response, I will try this out, later on.

[2015-07-14 04:58] chrisamoore commented on #253
:+1: Thanks good to go.

[2015-07-14 04:58] #253 closed

[2015-07-14 13:56] erikverheij opened #257 "Memory leak for pm"
Hi there,

The memory usage of my loopback apps increases over times. It seems like there is some memory leak, but I've not yet figured out what the problem is. This issue raised another problem.

My server crashed due to insufficient memory. After this crash the pm has forgotten about all services. It appears that strong-pm/strong-pm.json is completely being reset to the default.

off-topic: Can

[2015-07-14 15:14] kraman commented on #218
I think this is an old bug probably caused because arc's internal pm was interfering with standalone-pm and deleting the strong-pm.json DB.

PEBKAC?

[2015-07-14 16:19] sam-github commented on #218
This was happening because .strong-pm directory, including the DB, was being removed by arc, pm *should* crash when it's DB is removed.

[2015-07-14 16:19] #218 closed

[2015-07-14 18:26] sam-github opened #258 "mysql probe reported as broken"
https://github.com/strongloop/loopback/issues/1430

unreproduced

@yagobski, what is the mysql version? `npm ls | grep mysql` in your app should tell you that.

[2015-07-14 23:06] rmg commented on #258
This _should_ have been fixed by strongloop/strongops#272 which should be in strong-ageng@1.6.1.

[2015-07-14 23:46] yagobski commented on #258
This link is dead: strongloop/strongops#272

My mysql version : 5.5.43

[2015-07-14 23:50] rmg commented on #258
@yagobski sorry, that's a link to a private repo.

[2015-07-14 23:51] rmg commented on #258
@yagobski what version of strong-agent is installed?

[2015-07-14 23:52] yagobski commented on #258
any way to know the version using ssh?

[2015-07-14 23:55] rmg commented on #258
@yagobski it's at the top of your logs from the previous issue:
[code]

If you have not upgraded by doing `slc update` or `npm install -g strongloop` then you are likely still using that version.

[2015-07-14 23:57] yagobski commented on #258
INFO strong-agent native addon missing, install a compiler
INFO strong-agent v1.6.0 profiling app 'xxx' pid '2912'
INFO strong-agent[2912] started profiling agent

This is in my local machine. Iam using strong-pm on production and i deploy remotely from local to prod server

[2015-07-15 00:28] yagobski commented on #258
In production i have this version : INFO strong-agent v1.6.3

[2015-07-15 01:53] yagobski opened #261 "NODE_ENV=production using remote to strong-pm?"
Hy,

I want to set specific env variable when i do slc build   slc deploy http://xxxxxx
I want to use specific configuration file when i deploy. How strong-pm handle that?
Something like  NODE_ENV=production slc deploy http://xxxxx

[2015-07-15 03:02] Setogit commented on #258
In strongloop/loopback#1430, five people reported the mysql problem -- the first person on June 3rd with strong-agent@1.5.1 and the last person on June 13 with strong-agent@1.6.0.  It is known that strong-agent@1.6.0 works with mysql@2.6.2 but has an issue with mysql@2.7.0 which was released on May 27th.  Mysql@2.8.0 was released on July 13, 2015. As @rmg commented earlier, we fixed the issue in s

[2015-07-15 04:58] sam-github commented on #261
You can't do it as a single shot with the `slc deploy`, you have to create the service, then deploy to it:

[code]

Next time you deploy the service already exists, you can just do (assuming there is something you want to change about the env):

[code]

NOTE you don't have to create the service if you've already deployed to it: deploy auto-creates the service (with default env, etc., and service n

[2015-07-15 04:58] #261 closed

[2015-07-15 19:01] sam-github commented on #246
strong-pm injects instrumentation into node before passing control to your javascript: it must run javascript, not bash.

If you have a js file you can run as your main, you can use strong-pm, but if your node app only runs with a shell script wrapper, I don't thin pm will work for you.

[2015-07-15 19:02] sam-github commented on #247
@notbrain are you good now? can we close this?

[2015-07-15 19:21] notbrain commented on #247
So far so good, will open a new one if anything shows up again.

[2015-07-16 16:10] sam-github commented on #258
@yagobski our theory is that you are running into a bug we already fixed, can you confirm that this is fixed by updating?

[2015-07-16 17:27] yagobski commented on #258
fixed i upgrade all modules and all is fine.
Thanks for your help

2015-07-16 18:10 GMT+02:00 Sam Roberts <notifications@github.com>:

[2015-07-16 20:13] #258 closed

[2015-07-16 20:14] sam-github commented on #247
Glad to hear that.

[2015-07-16 20:14] #247 closed

[2015-07-16 22:42] crandmck commented on #261
@sam-github I added http://docs.strongloop.com/display/SLC/Deploying+applications+with+slc#Deployingapplicationswithslc-Settingupaservicebeforedeployment to cover this information.  It's just a start--can expand more as needed.

[2015-07-17 01:20] bossyang commented on #246
@sam-github Thanks.

[2015-07-17 01:20] #246 closed

[2015-07-17 16:18] yagobski commented on #261
Perfect this is was i am looking for. Thanks

2015-07-17 0:42 GMT+02:00 Rand McKinney <notifications@github.com>:

[2015-07-17 19:41] rmg commented on #257
We are working on a refactor to store this metadata in a sqlite3 db as well as separating the metadata from the continuously growing operations data. This won't help your immediate need, but it should address this problem once it is released.

As for restarting your apps, strong-pm isn't directly aware of the requests that are made to the app. However, if you tracked this number internally and exi

[2015-07-18 23:41] lukewendling commented on #251
:+1: to update the docs.

[2015-07-19 15:45] yagobski opened #263 "Delete old deployments files in Strong-pm"
All time i make new deploy i have the old version stored in my server. Do you have add any configuration to keep only the last 10 deployments for exemple? All time i need to clean it manually.

Any solution also to switch between deployments? For exemple to comback to old version?

[2015-07-20 18:50] crandmck commented on #251
Added a special row to the table in http://docs.strongloop.com/display/NODE/slc+ctl and a new section at the bottom of http://docs.strongloop.com/display/SLC/Controlling+Process+Manager.

[2015-07-20 18:50] #251 closed

[2015-07-21 04:25] sam-github commented on #263
I'm sorry, we don't delete the old deployments at the moment, but we should.

Switching between versions is best done, ATM, by using `slc build` and tracking what you have deployed:
- either keeping the .tgz packfiles around
- or using a deploy git branch, so you can re-deploy any commit

We will have better management and staging of deployments in the future, but we don't at the moment.

[2015-07-21 04:28] sam-github commented on #257
How would we reproduce the .json DB getting reset? Do we need an app that is crashing over and over, or just one that leaks memory, or...? I assume we can't run your app, but if you could give some suggestions on reproducing the issue that would be helpful.

[2015-07-21 15:27] erikverheij commented on #257
Hi Sam,

I had the similar problems while posting this issue. It is hard to reproduce. In my case it happened when the server ran out of memory. I think that crashed the node app and reset the database.

I was hoping someone who knows the code has a clue where to start looking.

I think the best shot would be to simulate the out-of-memory situtation.

Whenever I ran into the problem again I'll try

[2015-07-21 17:10] sam-github commented on #257
ok, so if I made an app that just ate memory, deployed it to a pm, and let it run, I might be able to see this? Or would I need to perhaps SIGKILL pm and try to get it during a DB update?

[2015-07-22 07:53] erikverheij commented on #257
On my server PHP script in running each 10mins. Usually this doesn't result in getting out of memory, but as my app memory increased over time at some moment the PHP script seems to have been the last straw to cause the memory shortage.

So in my case this was the flow;

1. Deploy an app to pm
2. Let another process eat up all memory
3. Make a http request to the app (causes a DB-update i guess?).

[2015-07-22 17:23] newlix opened #264 "Koa support?"
Can I run Koa with strongloop-pm?
How can I pass the --harmony option or can I use io.js ?

[2015-07-22 18:19] rmg commented on #264
There's no way to pass `--harmony` to node when running your app under strong-pm, but iojs is supported.

[2015-07-22 19:07] #238 closed

[2015-07-22 19:08] #148 closed

[2015-07-22 19:11] sam-github commented on #225
We support coffee if you use `slc build`, and a prepublish or build script

[2015-07-22 19:11] #225 closed

[2015-07-22 21:54] rmg commented on #203
This appears to be resolve. Please re-open if adding swap does not solve the problem.

[2015-07-22 21:54] #203 closed

[2015-07-23 15:59] evanhuang8 opened #265 "Trouble running in CentOS 6.6 due to outdated binary"
I am trying to run strong-pm on a CentOS 6.6 + io.js 2.4.0 machine, and here is the error I am getting while trying to start the daemon process:

[code]

Seems like the libc version is not high enough for one of the dependencies (sqlite), and I don't think I can upgrade glibc to 2.14 on CentOS 6.6.

Seems like this is a recent breaking change as well:

https://github.com/mafintosh/leveldown-prebui

[2015-07-23 17:05] sam-github commented on #265
Its probably possible to convince node-pre-gyp to *not* try to download and use the prebuilt sqlite3 binding, and just build it. I'll check.

[2015-07-23 17:10] sam-github commented on #265
@bnoordhuis It looks like your patch https://github.com/mapbox/node-sqlite3/pull/444 was accepted, but then re-broken?

[2015-07-23 17:15] rmg commented on #265
According to mapbox/node-sqlite3#244 you can force the addon to be compiled with `npm install --build-from-source` is how to force compilation. As with other npm CLI flags, this could also be done via an environment variable: `npm_config_build_from_source=true`.

[2015-07-23 17:16] bnoordhuis commented on #265
@sam-github I suspect the issue lies with the environment the prebuilt sqlite3 module was built in.  Building from source should fix that.

[2015-07-23 20:34] evanhuang8 commented on #265
`npm install strong-pm --build-from-source` worked. Looks like we will just have to wait for upstream to be fixed?

[2015-07-24 23:21] #179 closed

[2015-07-26 11:50] erikverheij commented on #265
I have the same issue on my local windows machine and on an amazon EC2 server (default linux AMI).

On windows "npm install strong-pm --build-from-source" worked, but on the amazon server it doesn't;

[code]

[2015-07-26 11:59] bnoordhuis commented on #265
@erikverheij That looks like a permission issue:

Which then leads to:

I speculate that either /root/.node-gyp doesn't exist or has the wrong permissions.

Aside, consider upgrading to the latest v0.10 release, you're a few security patches behind.

[2015-07-26 13:28] erikverheij commented on #265
Thank you. I managed to get it working.

Do you know where that 0.10.32 version is coming from? I tried to update node (to v0.12) and node-gyp.

[2015-07-26 15:09] bnoordhuis commented on #265
I assume it's somewhere on your path.  `which node` should tell you where.

[2015-07-27 20:56] #265 closed

[2015-07-29 17:46] sam-github commented on #211
fixed by https://github.com/strongloop/strong-pm/pull/250

[2015-07-29 17:46] #211 closed

[2015-07-29 17:53] sam-github commented on #183
Is this still an issue?

[2015-07-29 17:55] sam-github commented on #151
@rmg, complete?

[2015-07-29 17:56] sam-github commented on #101
will check, may be complete

[2015-07-29 17:56] sam-github commented on #87
pm supports multi-app now

[2015-07-29 17:56] #87 closed

[2015-07-29 17:57] sam-github commented on #264
@newlix are you good for Koa, by using io.js?

[2015-07-29 17:58] sam-github commented on #176
@rmg are we done with this?

[2015-07-29 18:28] rmg commented on #151
I believe strong-pm is still issuing a full restart after the env changes instead of a rolling restart.

[2015-07-29 18:30] rmg commented on #176
@sam-github no idea, your mention was the first association between me and this.

[2015-07-29 20:20] sam-github commented on #176
My apologies, I thought I saw your name on it, I think I just saw Azure.

[2015-07-30 12:06] erikverheij commented on #263
My server ran short on available inodes. It apears that my strongloop-pm deployments are consuming 80% of the available inodes.

Removing old deployments should be part of the default deployment flow.

For the time being I use the following command to remove old deployments;

[code]

Replace the "1" with the id of your app.

[2015-07-30 16:31] sam-github commented on #263
I'm sorry for the delay, dealing with this is near the top of our backlog.

Just an FYI: The reason this isn't just a trivial `deploy the new, rm -rf the last` in strong-pm is that it does zero-downtime restarts, the app is restarted by starting one worker after another in the new deployment directory, and until all the workers have restarted and *not crashed* for some minimal time, there are stil

[2015-07-30 16:33] sam-github commented on #263
Btw, the above behaviour is observable, if you deploy an app that requires files not in its package dependencies (or has some trivial syntax error), you'll see how pm keeps most of the old workers running until the new code doesn't crash.

[2015-08-02 17:32] danielrvt opened #267 "strong-pm stop/waiting on CentOS 6.6"
I'm deploying an API so I installed node and strong-pm in my server. I installed node using nvm, and then I installed strong-pm.

I added strong-pm to upstart like this:

$ sudo sl-pm-install --upstart=0.6
$ sudo /sbin/initctl start strong-pm

but the strong-pm service is always "stop/waiting" Why is this happening?

[2015-08-04 21:41] sam-github commented on #267
nvm installs node for only the current user, but strong-pm runs as the strong-pm user.

nvm is a user-tool, it installs node in your personal ~/.nvm director, its not recommended to use it to install node for system services.

[2015-08-06 15:55] newlix commented on #264
Sorry for the late reply.
In the end I didn't use strong-pm with io.js. I are using pm2 for now.
Thanks for your help.

[2015-08-06 17:56] #264 closed

[2015-08-06 17:57] sam-github commented on #264
Thanks for getting back to us. Did you continue to have trouble with Koa.js, or was there some other issue with strong-pm?

[2015-08-06 18:50] sam-github commented on #208
I'd like to find a way to avoid having this to be an install time flag, or even a dynamic flag set via `slc ctl`, though that would be  better. Unfortunately, I can't think of how we can know for sure whether  or not `npm rebuild` has to be run.

My intention was that `npm rebuild` be effectively a no-safe op if there are no compilers installed on the deployment machine, or if there is no outbound

[2015-08-06 21:41] sam-github opened #268 "Option to disable `npm install` at deploy time"
This is easy, we won't call npm install if node_modules exists.

[2015-08-07 04:29] newlix commented on #264
No, they both run well on iojs. I just want to stick to Node.js for max stability and user popularity.

[2015-08-07 17:54] sam-github commented on #264
OK, thanks for the feedback.

[2015-08-12 19:01] cjbratschke opened #269 "Build with io.js 3.0.0"
I'm using io.js 3.0.0 on a ubuntu server 14.04 and tried to build strong-pm, which is currently not possible. Could you help me out with that?

[2015-08-12 22:13] rmg commented on #269
This is currently not possible due to a number of binary dependencies not being compatible with the version of v8 used by iojs-v3.0.0.
 - [ ] sqlite3
 - [ ] strong-fork-syslog
 - [ ] utf-8-validate
 - [ ] bufferutil

[2015-08-13 23:46] notbrain opened #270 "Upgraded to v5.0.0, strange issue when relaunching"
Just upgraded to strong-pm 5.0.0 with full strongloop, but now can't respawn our apps. Seeing this in strong-pm.log repeated over and over again:

    SyntaxError: Unexpected end of input
        at Object.parse (native)
        at parseAndLoad (/usr/lib/node_modules/strongloop/node_modules/loopback-datasource-juggler/lib/connectors/memory.js:122:21)
        at /usr/lib/node_modules/strongloop/nod

[2015-08-14 01:13] rmg commented on #270
Seems the Memory connector is failing while trying to load its file.. but I don't believe that is actually being used anymore..

When you performed the upgrade, what did you run? Did you stop the strong-pm service before running the installation?

[2015-08-14 01:23] notbrain commented on #270
Yeah, that could have been it, I don't remember if I had shut down strong-pm or not. :/

[2015-08-14 01:31] ile commented on #179
I got this same error message, and the reason what that https://www.npmjs.com/package/minkelite failed to install with ` npm install -g strongloop`.

More specifically, sqlite3 failed to install with the error message `node-pre-gyp: not found`. Installing node-pre-gyp manually/globally fixed the problem.

[2015-08-14 04:04] notbrain commented on #270
Seems to be what you suggested, my original troubleshooting began on an initial error happening on only a *single call* of our API, which was resulting in a strange error on User.verifyPassword(). Every other call was working fine. In hindsight this corresponded to the strongloop upgrade while strong-pm was running. To the best of my knowledge. Just leaving this here if anyone else has a similar i

[2015-08-14 17:39] rmg commented on #267
@crandmck here's another example of `nvm` causing problems. You've added a warning about it in the docs now, correct?

[2015-08-14 18:06] rmg commented on #270
Thanks for the followup, @notbrain :-)

Can this be closed then? I'm not sure there's much that can be done about this other then documenting that the strong-pm server needs to be shutdown before upgrading it.

[2015-08-14 18:08] #270 closed

[2015-08-14 18:50] crandmck commented on #267
Yes, there's a prominent warning here: https://docs.strongloop.com/display/SLC/Setting+up+a+production+host#Settingupaproductionhost-InstallusingnpmandrunPMservice

Let me know if you think it needs to be added elsewhere.

[2015-08-14 19:12] rmg commented on #267
@crandmck thanks, looks pretty prominent to me.

[2015-08-14 19:12] #267 closed

[2015-08-19 09:17] PhuongNL opened #271 "Cant connect to postgres"
My app cant connect to postgres container when i deploy to docker run on CentOS 7. But when i development on docker local i still can connect to db. I dont know why, here is logs on docker strong-pm:

[code]

[2015-08-19 18:49] rmg commented on #271
The error says `EHOSTUNREACH`, meaning it can't connect to the DB because that address is unreachable. Generally you use names for container-to-container connections because the IPs may change. Did you link your strong-pm container to your postgres container?

[2015-08-20 02:40] PhuongNL commented on #271
I dont link container sir, i connect via port. In strong-pm container local i can connect to remote container db.

[2015-08-20 02:53] rmg commented on #271
If the pm container is running on the same host as the Postgres container then it will not have access to the Postgres container via the public IP unless you have specifically set up iptables rules to allow it. Is the address you are using on the docker0 bridge network? Or is it the same address you use to connect from the pm container when running locally?

strong-pm doesn't touch the network con

[2015-08-20 03:09] PhuongNL commented on #271
strong-pm and postgres container run on same remote host.
Here is my network info in remote server:
[code]
Maybe i know the problem.

[2015-08-20 04:54] PhuongNL commented on #271
@rmg you are right about both strong-pm and postgres run on same host, thanks u so much.
After research i found the solution, maybe help another people.

- When your create container strong-pm, remember link it with postgres, redis.
- In your project create datasource.local.js or datasource.production.js with this content:
[code]
If u use redis for store session here is solution:

- Create session

[2015-08-20 16:55] rmg commented on #271
@PhuongNL thanks for confirming my suspicions and providing this guide for anyone else who might need it :-)

[2015-08-20 16:55] #271 closed

[2015-08-21 04:17] sam-github commented on #165
@cgole fixed during strong-pm multi-app development, please try again

[2015-08-21 04:41] sam-github commented on #166
@cgole

I deployed from a Windows VM on mac (win 7, node 0.12.7) to its Mac host pm, and to a remote linux laptop, both worked fine.

I suspect that either `npm` was not in the path for the `root` user (you are in /root, I assume you are `root`) on Linux, or that perhaps pm was incompletely installed, and failed to find `sl-run.js` in order to run it.

I don't see how pm could even notice whether

[2015-08-21 05:09] sam-github commented on #168
I don't see this issue, but I do see ftruncate is failing with EPERM, not sure if its simply unsupported, or its because I opened the file in append mode, will experiment.

[2015-08-21 05:24] sam-github commented on #39
@rmg, this should be fixed in our fork, right?

More to the point, I just deployed with git, and it seemed to work fine.

@cgole moving to verify

@kalanbates I think this is fixed, if you'd like to try it again.

[2015-08-21 17:32] rmg commented on #269
For the record, the only dependency that is actually blocking is sqlite3. The others are all optional.

[2015-08-21 20:03] cgole commented on #166
worked.

[2015-08-21 20:12] #166 closed

[2015-08-21 21:57] cgole commented on #165
verified deploy from windows to a windows pm using git and tar from arc

[2015-08-21 21:58] cgole commented on #39
verified fixed

[2015-08-23 05:35] glesage opened #272 "strong-pm 5.0.0 - failed with Error: connect ECONNREFUSED"
After updating global npm packages I get a `failed with Error: connect ECONNREFUSED` error when trying to `slc pmctl` or `slc ctl`

Here are my versions
[code]

[2015-08-24 03:54] rmg commented on #272
@glesage was strong-pm previously installed as an OS service? If so, did you stop it before the upgrade and start it after?

[2015-08-24 23:46] glesage commented on #272
Hm yes it was installed and no I did not stop it /:

[2015-08-24 23:49] rmg commented on #272
@glesage have you tried starting or restarting it to make sure it is running again?

[2015-08-25 00:43] glesage commented on #272
Yes, it is running since our loopback app is running.. also just restarted it and am getting the same error /:

`Command "status" on "http://127.0.0.1:8701" failed with Error: connect ECONNREFUSED`

[2015-08-25 00:49] rmg commented on #272
@glesage I'm at a loss for how strong-pm could be running your app but not accepting connections itself. Do you want to hop on https://gitter.im/strongloop/chat and see if we can debug this?

[2015-08-25 04:13] glesage commented on #272
Ha ok. Well I'll try a few other things but I'm also at my wits end... I've experienced this before actually when upgrading all npm global packages on dev environments. Usually end up re-installing strong-pm as a service clean.. should have probably looked to see the root cause of this instead.

I'll monitor that channel just in case tomorrow (:

[2015-08-25 06:56] SC7639 commented on #168
I'm having the same issue as @sam-github  when trying to run "slc start" command on windows it fails with the following error message:

fs.js:698
  return binding.ftruncate(fd, len);
                 ^
Error: EPERM, operation not permitted
    at Error (native)
    at Object.fs.ftruncateSync (fs.js:698:18)
    at Pm.spawn (C:\Users\SCrossan\AppData\Roaming\npm\node_modules\strongloop\node_modules\

[2015-08-25 16:33] cgole commented on #168
Now,I can reproduce this too.

[2015-08-25 16:35] SC7639 commented on #168
I've taken to running it inside a docker container as I'm just going through the tutorials currently

[2015-08-26 03:42] glesage commented on #272
Thks @rmg for the help, turns out it was because I upgraded from a version that used was using domain sockets by default AND the old version I had didn't have a default port yet

[2015-08-26 03:42] #272 closed

[2015-08-31 16:27] #39 closed

[2015-08-31 16:27] #165 closed

[2015-08-31 18:43] sam-github commented on #168
@SC7639 If you have docker, you have linux, why not just run on the host linux? This problem only effects Windows.

[2015-08-31 19:13] SC7639 commented on #168
I'm running it inside boot2docker VM. My Dev environment is widows and production environment is Linux

[2015-09-01 16:18] #168 closed

[2015-09-08 04:40] WaseemCake commented on #168
@sam-github , On Windows am getting this

D:\strongLoop\express-example-app-master>slc start
Error: pm failed, exit with status  8

Can you please help me here ?

[2015-09-08 15:25] cgole commented on #269
strong-pm build  on mac failed with latest iojs - 3.3.0 - https://gist.github.com/cgole/8c56086298cf97f0c7d8
strong-pm build on ubuntu failed with latest iojs-3.3.0 -
https://gist.github.com/cgole/bb5d4f081c802f62e14b

[2015-09-08 17:01] rmg commented on #269
@cgole those logs appear to include errors that have already been fixed. Did you install from staging?

[2015-09-08 17:13] cgole commented on #269
Error for install from staging -
errors on mac - https://gist.github.com/cgole/5dbe6ca7a5cca0ea0a6e
errors on ubuntu - https://gist.github.com/cgole/72cc0c22a8fdf6d18423

[2015-09-08 17:22] rmg commented on #269
@cgole thanks for confirming we're blocked on node-sqlite3 (mapbox/node-sqlite3#495)

[2015-09-09 14:35] agreatfool opened #276 "local test project, slc start failed with Error: bind EADDRINUSE"
Hey guys,

I'm a newbie of strongloop. I just made a skeleton project with command `slc loopback`, then I ran the command `slc start`. But the command failed with `Error: bind EADDRINUSE`.

The dump message is:
[code]

Could you please help me figure out the cause?

My env:
[code]

[2015-09-09 15:00] agreatfool commented on #276
Fixed, just edited your server config file, and make attribute "host" from default "0.0.0.0" to "localhost".
And the error gone.

[2015-09-10 19:50] simoami commented on #226
Hello, I don't think this got solved yet.

running `slc start` on node v0.12, and getting the following error:

[code]

Here's my env:
[code]

[2015-09-16 16:21] sam-github commented on #269
@cgole do you want to re-verify that `slc` and all runs on v4.x, or can this be closed?

[2015-09-16 18:02] rmg commented on #226
This appears to have been resolved by the dependency updates that have been published recently.

@simoami can you do an `npm install -g strongloop` and see if it works for you now?

[2015-09-16 22:21] rmg commented on #269
I was able to install and run `slc start`, `slc deploy`, and `slc pm` on node-v4.0.0 while verifying strongloop/strongloop#248 if that helps any.

I didn't do anything in depth, just made sure it installed and I could run & deploy apps, but I think it shows that this issue as reported has been resolved.

[2015-09-17 18:22] cgole commented on #263
backlogged.

[2015-09-17 18:26] cgole commented on #276
not a bug

[2015-09-17 21:28] cgole commented on #269
verified. I left this open because I ran into some issues creating a loopback app, but turned out I just had some permission issues.

[2015-09-18 16:28] #269 closed

[2015-09-20 23:25] cebor opened #278 "strong-pm install fails"
Got following errors while installing strong-pm:

node v4.1
npm v3.3.3
ubuntu 15.04

[code]

[2015-09-20 23:34] rmg commented on #278
@cebor did the installation actually fail? If so, then there would appear to be a bug in how npm@3.3.3 handles `optionalDependencies`.

If it did not fail, then these errors are safe to ignore and should go away once strongloop/strong-control-channel@3d30a1af7fb4423447fdcae9c00d9d6c784b55d0 makes it into a release.

[2015-09-20 23:37] cebor commented on #278
yes it fails just after the update from node v0.12.7 -> 4.1 and npm v2.14.3 -> v3.3.3

[2015-09-21 00:13] rmg commented on #278
I've just reproduced this with a fresh node-v4.1.0/npm-v3.3.3 install. The compilation failures are the same when doing `npm install strong-pm` vs. `npm install --global strong-pm`, but when doing it globally the errors become fatal for some reason.

I've reported this upstream as npm/npm#9685.

I hate to say it, but you should probably `npm install -g npm@2`.

[2015-09-21 00:13] #278 closed

[2015-09-21 09:17] cebor opened #279 "Can't retrieve strong-pm status from remote"
Since i updated node to v4.1.0 on remote and local machine the `status` cmd does not work anymore.

On local machine:
[code]

[code]

On Remote:
[code]

[code]
`restart`, `stop` and `start` cmds are working fine.

[2015-09-21 10:31] cebor commented on #279
Also when rebooting the remote machine, the services don't come up again.

[2015-09-21 17:28] robinskumar73 commented on #279
I am having the same issue

[2015-09-21 17:29] jdhiro commented on #278
Hm. I downgraded to npm@2.14.3 and I'm still getting install errors with strong-pm. Ubuntu 14.04, Node 4.1

[code]

[2015-09-21 19:09] rmg commented on #279
@cebor when you upgraded node, did you re-install `strong-pm`? Did the version of strong-pm also get updated in the process?

@robinskumar73 same questions, but also: when you say "same issue" do you mean you are also using `systemd` and your app also does not come back up after rebooting? Or just that `slc ctl status` does not work?

[2015-09-21 19:43] Bohmaster opened #280 "Local deploy failed: 'DIR/WHERE/MY/APP/IS` does not exist"
It's the first time I get this error.

I've cloned the repository and installed dependencies. Then I've run "slc start" command

root@implicate:~/guay/GUAYFinal# slc start
Local deploy failed: `/root/guay/GUAYFinal` does not exist
assert.js:327
assert.ifError = function(err) { if (err) throw err; };
                                          ^

Error: HTTP error 400
    at Error (native)
    at /us

[2015-09-21 19:57] cebor commented on #279
@rmg yes its fresh install of strong-pm.

And with don't come up again, after reboot i do not mean the strong-pm service itself, but the services it handles.

[2015-09-21 23:47] rmg commented on #278
@jdhiro the errors you are seeing are in optional dependencies. The difference with npm@2 is that your installation finished successfully, even though some optional dependencies failed. With npm@3, those optional dependency failures were causing the entire installation to abort.

[2015-09-21 23:49] jdhiro commented on #278
Ah, got it! Thanks @rmg

[2015-09-22 16:07] rmg commented on #226
@dhirenderbp @simoami I'm closing this for now. Re-open if it is still a problem.

[2015-09-22 16:07] #226 closed

[2015-09-22 16:13] simoami commented on #226
@rmg
Sorry for not responding earlier. The issue got resolved after running `npm install -g strongloop` again. I had upgraded node to v0.12 and needed to re-install to have new sources recompile under node v0.12.

[2015-09-28 19:12] rmg commented on #280
Is there anything in `~/.strong-pm/start.log` (or where ever your `slc pm` output is being redirected if you started it manually)?

[2015-10-02 09:33] cebor commented on #279
Any updates? Is this a problem with node 4.1?

I'm sure that with node v0.12 all was fine.

[2015-10-02 18:56] rmg commented on #279
@cebor sorry, I haven't been able to reproduce this.

For the small bit of log messages in your original posting, do the logs continue after that? Or does it get stuck? Could you post the contents of `/var/lib/strong-pm/strong-pm.json` somewhere? You can filter out the sensitive data and extra noise by running it through [jq](https://stedolan.github.io/jq/).

This should give the useful informatio

[2015-10-02 19:02] cebor commented on #279
[code]

[2015-10-02 19:39] rmg commented on #279
For anyone who finds this later, @cebor and I were able to sort this out over gitter.

The problem was caused by strong-pm telling the app to connect back to it using a public IP instead of localhost, but there were firewall policies in place that blocked such connections. This resulted in the app starting, and showing up in the logs, but being unable to connect to strong-pm in order to establish

[2015-10-02 19:39] #279 closed

[2015-10-03 16:32] simoami opened #283 "cluster-restart doesn't work with main scripts in subfolders."
After redeploying updated versions of a test project, slc deploy restarts workers with the old code when the main file is located in subfolders. The following scenarios were tested:
package.main: “index.js” - WORKS
package.main: “server.js” - WORKS
package.main: “server/index.js” - FAILS
package.main: “server/server.js” - FAILS

Here's our test script (index.js):
[code]

The following commands whe

[2015-10-03 22:37] rmg commented on #283
Some notes:
Just digging through any related code I'm seeing some PRs to investigate:
 - strongloop/strong-supervisor#157
 - strongloop/strong-supervisor#144 which fixed a regression caused by strongloop/strong-supervisor#142

[2015-10-03 23:52] rmg commented on #283
So far it's looking like another regression caused by strongloop/strong-supervisor#142 :blush:

[2015-10-08 03:13] jdhiro opened #284 "Unable to run strong-pm on Ubuntu 14.04 + Node 4.1.2 system"
With the recent Node 4 issues aside, I'm able to install strong-pm with no errors, using either npm 2 or 3.

However, I'm still unable to deploy to the machine, and my log is full of sqlite 3 errors:

[code]

[2015-10-08 04:20] jdhiro commented on #284
Not sure what caused this, but rebuilding my server resolved the problem. Closing issue.

[2015-10-08 04:20] #284 closed

[2015-10-14 00:09] notbrain opened #285 "slc deploy shows fatal err on kerberos build error via mongodb connector"
Haven't seen this before but when I attempt a deploy

    slc deploy -s proteus-demo http://localhost:8701 demo-deploy

The strong-pm.log shows

    sl-pm.js: Service "1" listening on 0.0.0.0:3002
    In file included from ../lib/kerberos.cc:1:0:
    ../lib/kerberos.h:5:27: fatal error: gssapi/gssapi.h: No such file or directory
     #include <gssapi/gssapi.h>
                               ^

[2015-10-14 02:08] Setogit commented on #285
http://stackoverflow.com/questions/32919589/npm-install-mongoose-causes-gyp-and-kerberos-errors-gssapi-gssapi-h-file-not-fo

Try installing the Kerberos Development Package:

`apt-get install libkrb5-dev`

[2015-10-14 03:03] jgngo opened #286 "app does not start on Ubuntu 14.04 Error: Cannot find module 'strong-debugger/package.json'"
I installed strongloop PM on Ubuntu 14.04 using the instructions. I'm using the nodesource repository node.js 4.2.0.
[code]

When I run slc deploy from my client to the production server where strongloop PM is installed, it returns normally:

[code]

However, the app does not start on http://intranet:3001. slpmctl shows that the service has not started. I try to start it manually using slpmctl sta

[2015-10-14 06:33] notbrain commented on #285
Thank you.

[2015-10-14 06:33] #285 closed

[2015-10-14 22:21] rmg commented on #286
@jgngo thanks for reporting this. I've added a note to the existing strong-supervisor issue related to this (strongloop/strong-supervisor#163) so I'm going to close this one.

[2015-10-14 22:35] rmg commented on #286
Better yet, there's a PR in progress to fix this: strongloop/strong-supervisor#166

[2015-10-14 22:41] #283 closed

[2015-10-14 23:21] rmg commented on #286
@jgngo strong-supervisor@3.3.0 has been released and should fix this. Please re-run `npm install -g strong-pm` to get the update and let us know if it works for you.

[2015-10-14 23:59] rmg commented on #283
strong-supervisor@3.3.0 has been released and includes the fix for this. @simoami can you update and give it a spin?

[2015-10-15 01:39] jgngo commented on #286
Works beautifully now. Thanks.

[2015-10-15 01:39] #286 closed

[2015-10-15 01:42] rmg commented on #286
:tada: glad to hear it

[2015-10-22 04:15] johnmw commented on #278
Thanks from me as well @rmg. I'm not sure who is in charge of the documentation, but it might be nice to remove the instruction to use the latest version of node and instead put a note to use npm version 2 until this is resolved?

[2015-10-26 07:58] smilechun opened #288 "How can I deploy on the AWS EC2/Elasticbeanstalk?"
I cannot found any useful tips for me to deploy a loopback application to strong-pm on AWS.

I have tried to create an ubuntu instance on AWS EC2 and installed the strong-pm on such instance. However, i got the "failed: socket hang up" when I entered the command "slc deploy http://username:password@.us-west-2.compute.amazonaws.com".

I am new to strongloop and aws.
Please give some helps.....

[2015-10-26 13:33] sam-github commented on #288
Did you install strong-pm with a username/password, using the `-http-auth` option to `sl-pm-install`?

https://github.com/strongloop/strong-pm/blob/master/bin/sl-pm-install.txt#L26

I suspect you are using your amazon user/pass, and that pm was installed with no authentication (which is not recommended).

[2015-10-26 15:14] smilechun commented on #288
Same,  Yes,  i did.

I wonder if there are any missing configuration on my aws.

[2015-10-28 10:47] ghatwala opened #289 ""npm test" failing"
Hi All,

I am getting following errors when i run "npm test " for this repo.
I have installed/started docker daemon on a red hat vm ,
$ npm test
5c70d8b212205e52.1446026400475
2015-10-28T10:00:04.467Z pid:8374 worker:1 ENV.supervisor_profile: undefined
2015-10-28T10:00:04.467Z pid:8374 worker:1 ENV.PATH: /usr/local/lib/node_modules/npm/bin/node-gyp-bin:/root/strongloop/strong-pm/node_mbin:/usr/loc

[2015-10-28 15:58] sam-github commented on #289
Try it on a mac or linux first before mixing docker into the problem.

[2015-10-28 17:25] rmg commented on #289
The ssh test assumes that the current user can ssh in to localhost as itself using private/public key authentication.

[2015-10-28 17:32] rmg commented on #289
For the ssh tests, the underlying module is strong-tunnel. There's an outstanding wish list item to add server side support (just backlogged it as strongloop/strong-tunnel#4) which would allow the assumptions the pm tests make to be lifted.

[2015-10-28 20:29] cgole commented on #257
@erikverheij, new versions of pm have fixes that could have addressed these issues. Can you try out a new version and let us know if it works for you.

[2015-10-28 20:45] cgole commented on #276
@agreatfool, can I close this?

[2015-10-28 20:48] cgole commented on #263
https://github.com/strongloop-internal/scrum-nodeops/issues/913

[2015-10-29 02:12] agreatfool commented on #276
@cgole sure.

[2015-10-29 02:12] #276 closed

[2015-10-29 04:25] ghatwala commented on #289
@sam-github : my set up is NAME="Red Hat Enterprise Linux Server"
VERSION="7.1 (Maipo)"
ID="rhel"
ID_LIKE="fedora"
VERSION_ID="7.1"
PRETTY_NAME="Red Hat Enterprise Linux"
ANSI_COLOR="0;31"
@rmg  : i was under the impression that this was test case was failing as i hadn't installed docker on my vm . if you just guide me how resolve the above test case would be helpful.

[2015-10-29 05:16] rmg commented on #289
The tests that use docker are in `./test/test-e2e-docker.sh` but the failure you are seeing is in `./test/test-pmctl-ssh2.js'.

The ssh2 tests require that your current user be able to run `ssh localhost` without a password.

If this is not possible, then it would probably be best to skip that test (either by marking it as skipped or simply deleting the file).

[2015-10-29 07:54] erikverheij commented on #257
I can't easily reproduce the phenomenon at the moment. Let's assume it has been fixed. If you don't run out of memory there is in fact no problem at all. That said the updated title of this issue does not really reflect the issue. The memory leak may be also be caused by my own app.

[2015-10-29 07:54] #257 closed

[2015-10-29 10:11] ghatwala commented on #289
Hi @rmg ,

Thanks for the reply !!!
 i was able to SSH to localhost using below
generate the public private keys

authorize the key by adding it to the list of authorized keys

test that you can log in with no password

Check to make sure this works (doesn’t prompt for password)

After doing above , i ran "npm test" again - it appears to me "ssh2" tests are passing however there seems other failur

[2015-10-29 16:53] rmg commented on #289
It would probably be best just to skip this one test then.

Also keep in mind that strong-pm isn't meant to be run as root and therefore also isn't meant to be tested as root.

[2015-10-30 02:18] GeoffreyEmery commented on #176
was ths completed?

[2015-10-30 02:20] GeoffreyEmery commented on #176
I see this https://azure.microsoft.com/en-us/marketplace/partners/nodejsapi/node-js-api/#starter it the same thing ?

[2015-10-30 05:29] ghatwala commented on #289
Hi @rmg ,

I have rerun the above test using normal user and skipping the above test case , but am getting some licensing errors , can you please comment on the below ?

/***********************************************/

./test/test-server-metadata.js ...................... 27/28
  objects-start 1.1.1
  not ok Command failed: /bin/sh -c /home/test/strongloop_pck/strong-pm/bin/sl-pmctl.js -C http:/

[2015-10-30 17:27] cgole commented on #176
nope, we never got to it.

[2015-11-03 02:17] aboosoyeed opened #290 "strong-pm is fails to start. Throws “Unexpected end of input” answer"
I am using strong-pm on my ubuntu server for my node application. It was running all fine until it stopped one fine moment. Thereafter it doesnt start my service at all. tried restarting strong-pm and even rebooted my server. But in vain. the strong-pm.log keeps throwing the following log entry

<pre>
Connection fails:  [SyntaxError: Unexpected end of input]
It will be retried for the next request

[2015-11-03 04:41] ghatwala commented on #289
Hi @rmg  ,

Could you please help in pointing me to the proper path as  how to acquire "object tracking license" and ensure that the test cases  of "strong-pm " are passing locally ?

[2015-11-04 06:26] rmg commented on #290
This looks like some sort of corruption in /var/lib/strong-pm/strong-pm.json.

@aboosoyeed what version of strong-pm is this?

[2015-11-04 07:04] aboosoyeed commented on #290
@rmg
slc --version
strongloop v5.0.1 (node v0.12.7)
├── strong-arc@1.8.3 (d95b140)
├── strong-build@2.0.6 (d008a3e)
├── strong-deploy@3.1.2 (be6180a)
├── strong-mesh-models@8.1.0 (62e539b)
├── strong-pm@5.0.1 (b96f806)
├── strong-registry@1.1.5 (f46e58f)
├── strong-start@1.3.2 (1327018)
├─┬ strong-supervisor@3.3.1 (1e39220)
│ └── strong-agent@2.0.2 (4ea7ee9)
├── generator-loopback@1.12.1 (a374136)

[2015-11-04 07:07] rmg commented on #290
@aboosoyeed it's the most reliable way to fix this. The latest version of strong-mesh-models (8.1.0, which is what you have) includes some changes that _should_ make this more reliable.

Did you upgrade recently?

[2015-11-04 07:49] rmg commented on #289
The license warnings aren't fatal - there is no license required to run tests.

To see what is happening, try running the failing test directly and with debug logging enabled:
[code]

[2015-11-04 08:38] ghatwala commented on #289
Hi @rmg,

I ran the above command , please see the error encountered below:

/*************************/
[test@pts00449-vm19 strong-pm]$ DEBUG=strong-pm:test node test/test-pmctl-ssh2.js
TAP version 13
    # Subtest: pmctl over ssh
working dir for /home/test/strongloop_pck/strong-pm/test/test-pmctl-ssh2.js is /home/test/strongloop_pck/strong-pm
exec `git clean -f -d -x .`
exec `git init`
exec `git

[2015-11-04 13:44] aboosoyeed commented on #290
i dont recollect upgrading . Alright should i close it ?

[2015-11-04 18:18] rmg commented on #289
@ghatwala try doing `ssh-add ~/.ssh/id_rsa` to add your private key to your ssh-agent, assuming you have one running.

If you are unfamiliar with ssh agents, this page seems to have a decent overview: https://developer.github.com/guides/using-ssh-agent-forwarding/

[2015-11-05 05:22] ghatwala commented on #289
@rmg : Thanks for the above , the test case  "test-pmctl-ssh2.js"
[test@pts00449-vm19 strong-pm]$ DEBUG=strong-pm:test node test/test-pmctl-ssh2.js
Passes with no errors , after i started ssh agent "exec ssh-agent bash" and later adding private as suggested above .

However , the over npm test is still failing with below -
/**********************************************************************/
./

[2015-11-05 21:45] rmg commented on #289
@ghatwala I've opened a PR to skip tests that require licenses: #291. Can you try checking out that branch (`licenseless-tests`) and seeing if it passes for you?

Additionally, you seem to be testing this on POWER, which has not been tested by StrongLoop or IBM yet.

[2015-11-05 21:59] rmg commented on #290
Let us know if it happens again.

[2015-11-05 21:59] #290 closed

[2015-11-06 08:53] ghatwala commented on #289
@rmg , thanks for the reply.
[test@pts00449-vm19 strong-pm]$ git branch
* licenseless-tests
  master

Next i ran the same npm test command , however i still get errors.
/**************************/
[test@pts00449-vm19 strong-pm]$ npm test

./test/test-server-metadata.js ...................... 27/28
  objects-start 1.1.1
  not ok Command failed: /bin/sh -c /home/test/strongloop_pck/strong-pm/bin/sl

[2015-11-06 09:28] ghatwala commented on #289
@rmg  -  It appears to me the license based test cases are not getting skipped , please conform at your end  , if license based test cases are being skipping ?

[2015-11-06 13:18] ghatwala commented on #289
@rmg -  An update .
I manually added those changes in my local repository , guess your pull request hasn't been merged as yet. By doing that if i manually run test case as -
[test@pts00449-vm19 strong-pm]$ node test/test-server-metadata.js  -- This test case passes.
But if i run  all combined test cases

[test@pts00449-vm19 strong-pm]$npm test
/*********************/
./test/test-pmctl-ssh2.js work

[2015-11-10 07:56] bossyang opened #292 "How to start sails.js app with babel support?"
I created a sails application by generator-sails-rest-api. It uses Babel. I can't start the app using "slc start".

**package.json**
[code]
**app.js**
[code]
**Error**
[code]

[2015-11-10 14:02] sam-github commented on #292
`"start": "babel-node app.js",`

In order to run with our instrumentation, your main entry point must be a node.js script, not a shell script, and it must be javascript that can be run by node.

Your npm start script is a shell script, running babel-node, which then runs the app.js, which isn't yet valid node.js javascript, after trans-compiling it.

To run, you'll need a `prepublish` script that

[2015-11-11 00:55] bossyang commented on #292
@sam-github got it. Thanks.

[2015-11-11 02:08] bossyang commented on #292
After creating  a file using require hook, I can start the app by node. Not works with slc start. But *slc run start.js* works.
[code]

**start.js**
[code]

[2015-11-11 02:33] sam-github commented on #292
start.js is not among the guesses we make, use one of the supported options: https://github.com/strongloop/strong-supervisor/blob/master/bin/sl-run.txt#L5-L20

[2015-11-11 03:44] bossyang commented on #292
@sam-github Thank you so much.

[2015-11-11 03:44] #292 closed

[2015-11-12 02:17] EthraZa commented on #226
I had the same problems.
Strongloop does not install on node 4.2.2 and seens to install on 5.0.0 but does not work. Node 0.12.7 is the only one I could get it working.

[2015-11-12 13:30] GeoffreyEmery commented on #176
so that azure starter kit was done by someone

[2015-11-13 06:39] ghatwala commented on #289
@rmg : i have tried with last merged code with changes to skip the license related test cases , but still above are being noticed . Kindly verify if the license based test cases are being skipped at ur end as well ?

[2015-11-13 18:47] rmg commented on #289
@ghatwala do you have `STRONGLOOP_LICENSE` set as an environment variable? It will only skip the tests if you do **not** have that env var set.

[2015-11-16 08:19] rmg commented on #289
I was able to get ssh access to a PPCle vm, build node-v4.2.2 from source, clone this git repo, and run `npm install && npm test`. Some regular dev environment setup aside (ssh-agent and docker), it ran without a hitch.

We could make the ssh tests a little more intelligent and add some docker detection to the test-install-systemd tests, but otherwise it was pretty straight forward _for someone fa

[2015-11-16 08:19] #289 closed

[2015-11-16 09:19] ghatwala commented on #289
@rmg   -  Thanks for all your help . Test cases passes as desired.

[2015-11-24 11:15] danielfbm commented on #97
@ijroth hi guys, any feedback on this? I am still trying to get this to work for socket.io. Thanks

[2015-11-24 14:56] sam-github commented on #97
Not scheduled. I recommend looking at http://socket.io/docs/using-multiple-nodes/

[2015-11-25 00:54] jeremiahlee commented on #226
I, too, am getting this error no matter how many times I reinstall.

Ubuntu 14.04.1 LTS (GNU/Linux 3.13.0-43-generic x86_64), node v4.2.2, npm v2.14.7,

From `~/.strong-pm/start.log`:
[code]

[2015-11-25 13:01] danielfbm commented on #97
@sam-github Hi Sam, thanks. I had to separate my application in order to implement this. Thanks anyway

[2015-12-01 02:48] ycao56 opened #294 "docker driver to support base image customization"
Currently, the strong-pm docker driver uses its own base image. In our use case, we want to be able to have control over the content of the base image. e.g. use IBM node, preinstall some npm modules, environment variables configuration. I think supporting a customized base image is going to be very helpful.
Basically, the use case would be
1. prepare and build our own docker base image
2. deploy a

[2015-12-01 05:37] rmg commented on #294
The way strong-pm currently builds docker images is described a bit in [a blog post](https://strongloop.com/strongblog/containerizing-node-js-apps-with-docker-and-strongloop/).

Short version:
 1. receive app from `slc deploy`
 2. use a generic **build image** ([node:0.10](https://github.com/nodejs/docker-node/blob/d798690bdae91174715ac083e31198674f044b68/0.10/Dockerfile)) to install strong-superv

[2015-12-01 05:49] yucao84 commented on #294
@rmg I think the first option will give me more flexibility on the content of docker image. In my image, I don't mind to install strong-pm or whatever is necessary in order to work with strong-pm. The idea is that I can have a ready to use image prebuilt and when it is launched it could be simply connect to a strong-pm server and managed by it.

[2015-12-01 06:12] rmg commented on #294
Thanks for the clarification. Sounds like this will involve:
 * [ ] document the expected image spec (`ENTRYPOINT`, which ports to use, etc.)
 * [ ] accept a docker image as a deployment type or allow overriding of generated image names

[2015-12-01 06:32] yucao84 commented on #294
@rmg Yes. The very similar working approach I am taking at the moment is putting the app and strongloop in the image and use ```ENTRYPOINT slc start . && tail -F ~/.strong-pm/start.log``` to start the app and keep the docker container running.
This starts strong-pm in <b>local mode</b> . The disadvantage for this is that the strong-pm server exists in every docker container. Is it ok to use this i

[2015-12-02 01:05] EthraZa commented on #226
Today I have upgraded node to 0.12.8 and it is working fine there. So I tryed 4.2.2...

With node 4.2.2 default npm it gave errors on install, so I rm strongloop, updated npm and called it to install strongloop again. It installed without error but does not run.

What I have:
[code]

What I got:
[code]

Any ideas on why sqlite3 is not cooperating?

[2015-12-02 01:21] toplinuxsir opened #295 "Install problem !"
npm install -g strong-pm --build-from-source

  SOLINK_MODULE(target) Release/obj.target/debugger.node
  COPY Release/debugger.node
make: Leaving directory '/usr/lib/node_modules/strong-pm/node_modules/strong-runner/node_modules/strong-supervisor/node_modules/strong-debugger/build'

gyp WARN EACCES user "root" does not have permission to access the dev dir "/root/.node-gyp/5.1.0"
gyp WARN EACCES a

[2015-12-02 01:55] rmg commented on #295
I'm not able to reproduce this on my Mac, I'll try on a Linux VM next.

[2015-12-02 02:17] toplinuxsir commented on #295
I change to node 4.2.2 and npm2
Still procduce the error !

[2015-12-02 02:21] rmg commented on #295
So far it appears to be a bug in node-gyp v3.2.0, specifically with how it handles using a temporary location for downloading the node headers/source... still investigating.

[2015-12-02 02:22] rmg commented on #295
@toplinuxsir as a potential workaround and confirmation of my theory, does it work if you use `--unsafe-perm`?

[2015-12-02 02:26] toplinuxsir commented on #295
Yes, It  works ,Thanks !

[2015-12-02 02:42] rmg commented on #295
Now to track down what the root of the problem is..

[2015-12-02 19:01] rmg commented on #226
@EthraZa what do you mean by "so I rm strongloop"?

[2015-12-03 13:45] EthraZa commented on #226
@rmg I mean I **npm -g rm strongloop** before I redo **npm install -g strongloop**

[2015-12-06 06:44] toplinuxsir opened #296 "How to setting the access log file of my deployed app ?"
If I deployed an app in strong-pm , I want to store the access log into the specified  file , just like nginx's access log in /var/log/nginx/access.log

How to ?
Thanks !

[2015-12-07 03:04] rmg commented on #296
Unfortunately, strong-pm does not currently support this. All logs from strong-pm and apps deployed to it are combined.

What level of customization are you looking for?

[2015-12-07 05:05] toplinuxsir commented on #296
Save the HTTP access log  and error log (such as exceptions raised by strongloop  )

[2015-12-07 17:19] rmg commented on #296
@toplinuxsir do you mean strong-pm's access and errors? Or the deployed applications' access and error logs?

Since strong-pm itself has not visibility into http access and errors of the app, or even whether it is http based, I think the best we could do for this scenario is log the application's stdout and stderr to separate files and document this as an option for simple log differentiation.

[2015-12-07 23:47] toplinuxsir commented on #296
@rmg  It's the  The deployed application's access and error logs
It's better to support log file rotate

[2015-12-08 22:24] sam-github commented on #294
@rmg do we need to backlog some of this?

[2015-12-08 22:28] sam-github commented on #295
@rmg can we submit upstream?

[2015-12-08 22:31] sam-github commented on #296
@toplinuxsir strong-pm doesn't log access logs, use a tool like https://github.com/expressjs/morgan to write HTTP access logs.

[2015-12-08 23:59] toplinuxsir commented on #296
@Sam Roberts
I got it , Thanks !

2015-12-09 6:31 GMT+08:00 Sam Roberts <notifications@github.com>:

[2015-12-09 11:03] bnoordhuis opened #298 "README and strong-pm.io should advertise systemd/upstart integration"
https://www.npmjs.com/package/strong-pm <- no mention

http://strong-pm.io/compare/ <- no mention

[2015-12-13 04:09] rmg commented on #208
Once #297 has been verified and passes our QA/QE, we should be able to release strong-pm v5.1.0 with a new `--skip-defaul-install` option that should solve this problem.

[2015-12-14 05:38] manishnakar commented on #168
any update ?

[2015-12-14 23:35] cgole commented on #208
verified

[2015-12-16 08:17] dominikriedel commented on #295
Hey! Did you get a solution already?

I've got the same problem:
gyp ERR! configure error
gyp ERR! stack Error: `gyp` failed with exit code: 1
gyp ERR! stack     at ChildProcess.onCpExit (/usr/lib/node_modules/npm/node_modules/node-gyp/lib/configure.js:357:16)
gyp ERR! stack     at emitTwo (events.js:87:13)
gyp ERR! stack     at ChildProcess.emit (events.js:172:7)
gyp ERR! stack     at Process.Chi

[2015-12-16 08:41] toplinuxsir commented on #295
npm install -g youpackaged --unsafe-perm

2015-12-16 16:17 GMT+08:00 dominikriedel <notifications@github.com>:

[2015-12-16 08:44] dominikriedel commented on #295
already tried!

[2015-12-21 19:11] #208 closed

[2015-12-23 04:33] #296 closed

[2015-12-23 16:16] despairblue commented on #179
Same here:

[code]

Somehow the sqlite3 install was borked.

`npm i sqlite3` fixed it.

[2015-12-23 18:15] lkrnac opened #300 "Custom env variable SSH_PORT doesn't work for http+ssh deployment"
According [docs](https://docs.strongloop.com/display/SLC/Securing+Process+Manager#SecuringProcessManager-UsingSSHtunneling) ssh tunneling port should be configurable via SSH_PORT variable.
But this doesn't work for me

I still get:
ssh connection error:  { [Error: connect ECONNREFUSED 192.168.1.100:22]
  code: 'ECONNREFUSED',
  errno: 'ECONNREFUSED',
  syscall: 'connect',
  address: '192.168.1.100

[2015-12-23 18:30] rmg commented on #300
@lkrnac what command are you trying to use?

[2015-12-23 21:41] pvijeh opened #301 "Loopback App Not Listening On Any Ports When Deployed to Remote Ubuntu Instance Running Strong-PM"
I am attempting to deploy a strongloop app to a Digitalocean remote box running Strongloop Process Manager. I have gotten as far as successfully running the deploy command as follows:

USER ~/projects/loopback/places-api $ slc deploy  http://IPADDRESS deploy

[code]

Next, I check the status of my Strongloop app by running the following command:

slc ctl -C http://IPADDRESS:8701

[code]

At this p

[2015-12-23 21:59] lkrnac commented on #300
slc deploy http+ssh://[httpUsername]:[httpPassword]@[domain]:[port]

I tried also:

slc deploy http+ssh://[httpUsername]:[httpPassword]@[domain]:[port]/default

[2015-12-23 22:35] sam-github commented on #298
It's here: http://strong-pm.io/prod/#npm-install, but I agree, its a nice feature, and worth boosting.

[2015-12-23 23:41] rmg commented on #300
@lkrnac and what did you set SSH_PORT to and how did you set it? It would also probably be helpful to know what OS this is and what version of node.

[2015-12-24 14:48] lkrnac commented on #300
Target machine is mine Ubuntu 14.04.
Node v4.2.3

Narrowing down my setup:

SSH_PORT is SSH port I use to connect to target machine. This port works because I use it to log into that machine and also for remote desktop access.
Of course it is different than strong-pm port.
I use certificates to access. I tried SSH_KEY and also (ssh agent) ssh-add.
I turned off firewall on target machine while tryi

[2015-12-24 18:50] rmg commented on #300
@lkrnac thanks for the extra details. When you say you are using certificates, do you mean the signed certificate variation of ssh's public key based auth? If so, that has not been tested and it is possible it doesn't work. I would have expected to see a much different error message in that case, though.

Can you share the output from running the following (with your real values plugged in, of cou

[2015-12-25 11:26] lkrnac commented on #300
First of all, I made a mistake. "I use certificates ..." should be "I use rsa keys ..." (https://help.github.com/articles/generating-ssh-keys/#step-2-generate-a-new-ssh-key). Sorry for confusion.

I tries your command, ans it worked fine. I don't know what I was doing wrong previously. I tried to make it running under `fish` shell instead of `bash`. When I switched back to `bash` again and double

[2015-12-25 11:27] #300 closed

[2015-12-28 17:40] crandmck commented on #298
It's also described in detail here https://docs.strongloop.com/display/SLC/Setting+up+a+production+host.
But we can certainly highlight it better on strong-pm.io & in README.

[2015-12-29 20:23] pvijeh opened #302 "Is docker required to run strong-pm in a production hosting environment?"
These docs mention docker --->

http://strong-pm.io/prod/

is that a requirement for hosting a strong-loop app using strong-pm ?

[2015-12-29 20:29] rmg commented on #302
No, docker is not required. Those docs are referring to 2 different uses of docker, both of which are optional:
 1. run strong-pm itself inside a docker container
 2. run strong-pm on the server and have it run your apps as docker containers

Neither of those is the default.

[2015-12-29 20:29] #302 closed

[2015-12-29 23:10] pvijeh opened #303 "Strong-PM fails: pid:14757 worker:1 error: password authentication failed for user "USER""
My loopback app fails to run on strong-pm.

Here is what the logs look like:

any ideas what could be causing this?

pvijeh@places-api:~$ sl-pm
sl-pm(14743): StrongLoop PM v5.1.0 (API v6.1.0) on port `8701`
sl-pm(14743): Base folder `/home/pvijeh/.strong-pm`
sl-pm(14743): Applications on port `3000 + service ID`
Browse your REST API at http://127.0.0.1:8701/explorer
Run request for commit "1/defau

[2015-12-29 23:15] rmg commented on #303
That error message is from your app, failing to connect to your PostgreSQL database (as indicated by `node_modules/pg/lib/connection.js` in the stacktrace).

How was your app deployed? Did it get deployed without the credentials for your database?

[2015-12-29 23:52] pvijeh commented on #303
I deployed the app using "slc build" followed by "slc deploy IPADDRESS" and
it said it was deployed successfully.

I have matching postgres users, databases and passwords on both my local
machine (where the app runs fine) and on the remote box.

Is there any way to test what postgres credentials the deployed app is
trying to use?

On Tue, Dec 29, 2015 at 6:15 PM, Ryan Graham <notifications@github.

[2015-12-30 00:05] rmg commented on #303
strong-pm doesn't know/care much about what that app does, so you would likely need to add some sort of logging to indicate the credentials being used. The error message suggests `pvijeh` is the username your app is trying to use.

[2015-12-30 00:18] pvijeh commented on #303
hmmm,  thanks.

Where do the actual deployed files get saved when deployed via strong-pm?

On Tue, Dec 29, 2015 at 7:05 PM, Ryan Graham <notifications@github.com>
wrote:

[2015-12-30 01:38] rmg commented on #303
In the logs you provided your app was deployed to `/home/pvijeh/.strong-pm/svc/1/work/aeb39b8ff6393282f657f3c1f703760c207e265c.1451426442510`

[2016-01-04 23:28] carlsonerik commented on #178
Awesome! This is exactly what I was looking for. Is it possible to add these things to the official documentation instead of resorting to google?

[2016-01-04 23:38] rmg commented on #178
@carlsonerik it is in the docs, but perhaps not visible enough. Can you give a link to the page you expected to find this information on?

[2016-01-04 23:44] carlsonerik commented on #178
https://docs.strongloop.com/display/SLC/Setting+up+a+production+host

I see the command, but it was not marked for the OS I am using. I am running Ubuntu 14.04, but it says to use it on 15+ . My inexperience with managing PATH doesn't help. Thank you!

[2016-01-04 23:47] rmg commented on #178
Ubuntu 14.04 doesn't have that problem because `/usr/local/bin` is included in `secure_path`. If you installed node using `nvm`, then it would cause a similar symptom and would appear to be fixed by the same solution, but your apps won't deploy properly.

[2016-01-04 23:54] carlsonerik commented on #178
I did use nvm to install the node version. What would be a remedy? Add the nvm install location to PATH?

[2016-01-05 00:04] rmg commented on #178
If you absolutely must use nvm, then you will have to do a few things. You will need to modify the Upstart job (`/etc/init/strong-pm.conf` by default) to add the PATH for the specific version of node installed under nvm that you want it to use. You will also have to modify your permissions to allow the strong-pm user to access your user's home directory. If you remove that version of node from nvm

[2016-01-05 01:22] carlsonerik commented on #178
That information helped immensely. Thank you so much!

[2016-01-12 00:14] betacar opened #305 "Strong Process Manager won't start"
After following all the instructions [here](https://docs.strongloop.com/display/SLC/Setting+up+a+production+host), I checked strong-pm logs and noticed the following:
[code]

This is the only information logged.

I followed the [troubleshooting page](https://docs.strongloop.com/display/SL/Installation+troubleshooting), but didn't found any reference to this issue. The strong-pm process does not st

[2016-01-12 00:33] sam-github commented on #305
Can you confirm strong-pm version: `sl-pm --version`

@kraman recognize this?

[2016-01-12 00:39] betacar commented on #305
@sam-github Yes. It's 5.1.0.

[2016-01-13 09:21] zim32 opened #307 "Converting circular structure to JSON Error"
Hello. Seems like a bug inside internal/child_process.js

**slc start**

[code]

Then make some post requests and get error
**slc ctl log-dump adv-frontend**

[code]

[2016-01-13 09:51] Aukhan commented on #305
strongloop/loopback#1917

Was working perfect but It just stopped working yesterday and gives this error,
Command "start" on "http://127.0.0.1:8701" failed with Error: connect ECONNREFUSED
Infact this error on all commands.
Port 8701 is free.
Also I dont have a log being created at /var/log/upstart/strong-pm.log

Guide me towards debugging this in my environment please ?

node -v = 0.10.25
npm -v

[2016-01-13 15:57] rmg commented on #307
Well that's a new one...

You appear to be running Linux, is that correct? And what version of node?

[2016-01-13 17:45] zim32 commented on #307
Linux 13a657bc299c 3.14.32-xxxx-grs-ipv6-64 #5 SMP Wed Sep 9 17:24:34 CEST 2015 x86_64 GNU/Linux

Node v4.2.4

[2016-01-14 01:41] yucao84 commented on #294
Is there an estimation on this?

[2016-01-14 15:01] charlottehutchinson opened #308 "Docker container won't start"
I get the following error when I try to start the Docker container:  Invalid usage (extra arguments), try `sl-pm --help`.

[2016-01-14 16:35] kraman commented on #305
@sam-github SQLite in that version is only used for the tracing DB. Perhaps it is corrupted or missing.

[2016-01-18 23:08] sam-github commented on #294
Looks like a nice feature, would like to have it, no time to do it. Do you have time?

[2016-01-22 23:36] mike-aungsan opened #309 "slc deploy, server listen on different port"
slc deploy http://127.0.0.1:8701/

Often have this error.

Error connecting to server: { [Error: Error: 503]
  statusCode: 503,
  details: '<HTML><HEAD>\r\n<TITLE>Network Error</TITLE>\r\n</HEAD>\r\n<BODY>\r\n<FONT face="Helvetica">\r\n<big><strong></strong></big><BR>\r\n</FONT>\r\n<blockquote>\r\n<TABLE border=0 cellPadding=1 width="80%">\r\n<TR><TD>\r\n<FONT face="Helvetica">\r\n<big>Network Err

[2016-01-25 17:00] kylezengTR opened #310 "Failed to start any applications"
Hi guys,
I`m using RHEL 6 and my node is in the folder I have created.
here is the strong-pm.conf :

`exec su -m -s /bin/sh -c 'exec "$0" "$@"' strong-pm -- /appserver/node-v4.2.0-linux-x64/bin/node /appserver/node-v4.2.0-linux-x64/lib/node_modules/strong-pm/bin/sl-pm.js --listen 8701 --base /var/lib/strong-pm --base-port 3000 --driver direct 2>&1`

And I added this to strong-pm.conf

`env PATH=/a

[2016-01-29 00:51] mike-aungsan opened #312 "How to make application auto start after OS reboot"
Any help?

https://github.com/strongloop/loopback/issues/2003

[2016-01-29 14:29] sam-github commented on #309
Are you saying that `slc deploy` printed the messages `Error connecting to server: ....` to the console? That does not look like any of our error messages to me, where did it come from?

Your app is being run on the HTTP port described (3000 + service ID). pm is overriding the config.json, because those defaults are unimplementable: if two apps have the same config.json, as they usually do, then p

[2016-01-29 16:19] #312 closed

[2016-01-29 22:08] mossuchida opened #313 "Perf : Please make a switch for profiling"
Currently, Strong PM has profiling enabled by default, however, this will reduce the performance.

Enhancement Request  1 :
Please add a switch so that user is able to turn on or turn off the profiling

Enhancement Request  2 :
For Bluemix purpose, please enable profile turn on/off by using the "User Defined" Bluemix Environment Variables so that we can easily enable/disable it.

BTW, am I allowed

[2016-01-29 22:10] mossuchida opened #314 "Perf : It does not spawn to multi process by default"
When I start the app using Strong PM, it didn't use up all the hardware threads.  Please fix

[2016-01-29 22:31] sam-github commented on #314
How many workers did it start, and how many "hardware threads" (do you mean cpu cores?) do you have, and what does `node -p 'require("os").cpus().length'` say your number of CPUs are? The latter is how many workers we start.

[2016-01-29 22:39] sam-github commented on #313
Any restrictions you have are between you and your managers.

Supervisor has a `--no-profile` CLI option. choosing when to set it, exposing a rest api to turn it on/off, etc, all is possible.

Note that profiling can't be turned on/off for a running node app, it is a start-time state. So, you'd need to do something like we do for tracing, which is even more expensive and defaults to "off". Follow

[2016-01-29 23:57] mossuchida commented on #314
It only started 1.

Server 1 : VM -  1 core smt2 (total 2 hardware threads)
[root@omni wasperf-nodejs]# node -p 'require("os").cpus().length'
2

[root@omni wasperf-nodejs]# slc start
Error: connect ECONNREFUSED
[root@omni wasperf-nodejs]# slc start
Process Manager is attempting to run app `.`.

  To confirm it is started: slc ctl status acmeair
  To view the last logs: slc ctl log-dump acmeair
  T

[2016-01-29 23:58] mossuchida commented on #314
For server 2:

rogue2:/opt/BLUEMIX/acmeair-nodejs-12-18 # slc ctl
Service ID: 1
Service Name: acmeair
Environment variables:
  No environment variables defined
Instances:
    Version  Agent version  Debugger version  Cluster size  Driver metadata
     5.0.1       2.0.2            1.0.0             1             N/A
Processes:
       ID      PID  WID  Listening Ports  Tracking objects?  CPU profili

[2016-01-31 03:39] lunchboxer commented on #305
I solved this problem on Ubuntu 15.10 by installing sqlite package:

sudo apt-get install sqlite

A more informative error message would be useful, like "Check that sqlite is installed."

[2016-02-01 23:17] mossuchida commented on #314
Closing issue based on priorities

[2016-02-01 23:17] #314 closed

[2016-02-01 23:18] mossuchida commented on #313
Closing issue based on priorities

[2016-02-01 23:18] #313 closed

[2016-02-02 12:48] jesucarr opened #315 "Network timeout installing"
npm install -g strong-pm
npm ERR! fetch failed http://blip.strongloop.com/strong-pm@5.1.0
npm WARN retry will retry, error on last attempt: Error: connect ETIMEDOUT 54.230.228.240:80
loadDep:sl-blip → network ▀ ╢██████████████████████████████░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░╟

node v5.5.0
npm 3.3.12

[2016-02-02 14:48] sam-github commented on #315
Its an optional dep, so install should continue. This will be fixed in our next release.

/cc @rmg

[2016-02-05 19:12] kylezengTR opened #316 "Failure: socket hang up when slc deploy"
Guys,
I have encountered this failure:

[code]

and even if I running
slc deploy or sl-deploy(the strongloop pm deploy module)
like

[code]

still will pop out this failure occasionally.
Any ideas about how to fix this??

[2016-02-11 12:24] ziwar commented on #316
getting the same error
have you found a solution?

[2016-02-11 16:44] kylezengTR commented on #316
@ziwar   seems like is a network issus, when I used a linux server and type the command manually, everything works find, but right now I am trying to use jenkins job to do that, enter the parameter, jenkins will run the shell script for me. But some network problems let this error happens.

[2016-02-16 03:16] NathanBWaters commented on #179
Just had the same problem as @despairblue with sqlite3 installation that came with Strongloop acting up.

[2016-02-17 04:33] Lunigorn opened #317 "Permission error when deploy app"
I get app from [here](http://strong-pm.io/getting-started/#start),
then make docker container like [here](http://strong-pm.io/prod/#docker),
then deploy app like [here](http://strong-pm.io/prod/#deploy).

then I get error:

[code]

How to solve this problem?

[2016-02-17 17:04] addr commented on #305
I also have this problem. Running sl-pm directly works perfectly.

CentOS 6.7
node 5.6
npm 3.6
sl-pm 5.2

Full log:
[code]

[2016-02-18 14:26] sam-github commented on #310
https://github.com/strongloop/strong-supervisor/blob/master/bin/sl-run.txt#L5-L20

^--- npm install -g strong-supervisor, then sl-run the app to confirm it can be found.

Also, check the logs for the service, it could be crashing.

[2016-02-18 14:27] sam-github commented on #316
Its a low level TCP error, not sure what to say other than check your network configuration/stability.

[2016-02-21 18:50] paulJordaan opened #318 "Strong-pm use in IMB Bluemix container group"
Is it possible to use strong-pm in container group on IBM bluemix service? I've tried a group based on the official strong-pm image but am only able to assign one port at group creation and I don't seem to able to access this port for deployment.

[2016-02-21 20:01] sam-github commented on #318
@saivennam thoughts?

[2016-02-22 01:58] cleever opened #319 "[Ubuntu] strong-pm main process ended, respawning"
Multiple respawing on ubuntu 14.

[code]

[2016-02-22 02:00] cleever commented on #317
Same here.

[2016-02-22 09:25] gggin commented on #317
Same here

[2016-02-22 20:08] cleever commented on #319
This issue is gone after I reinstall S.O. Closed.

[2016-02-22 20:08] #319 closed

[2016-02-22 23:33] rmg commented on #317
@cleever @gggin are you both also deploying from Windows, Docker, and using a tarball created by `slc build`?

[2016-02-22 23:39] rmg commented on #318
I think you meant @svennam92 ;-)

[2016-02-22 23:41] rmg commented on #308
@charlottehutchinson how are you trying to start the container? And which image?

[2016-02-23 00:12] cleever commented on #317
@rmg. Yes. First of all, I ran 'slc build', to create a tar.gz file.

(Windows Enviroment to Ubuntu)

[2016-02-23 09:22] gggin commented on #317
Windows Enviroment to Ubuntu same
no docker!
I'm a beginner I just use GUI(web page)

[2016-02-23 09:46] XiaochenLi1984 commented on #317
win -> ubuntu, not docker. Application.tgz built by slc build or arc gui.

[2016-02-23 10:32] JoeShi commented on #316
same issue. Same command on the same machine in different network environment, the error happens.

[2016-02-23 17:30] rmg commented on #317
Can you also all give the output of `slc version` on your workstations?

And the output from `sl-pm --version` (or `slc version`) on your servers?

[2016-02-24 01:51] gggin commented on #317
![image](https://cloud.githubusercontent.com/assets/3293064/13273100/f655232a-dadb-11e5-9cf7-54c1b1cfc8d1.png)

![image](https://cloud.githubusercontent.com/assets/3293064/13273129/272f33fa-dadc-11e5-8e44-bb618dedd3d5.png)

[2016-02-24 02:30] gggin opened #320 "Chinese user help message!"
If you install strong-pm fail in sqlite3, maybe download codes fail(you need use sth like shadowsocks or vpn to cross GFW...

[2016-02-25 05:52] XiaochenLi1984 commented on #317
The reason is that application.tgz built on Win is not assigned a proper permission and fails to be extracted on Ubuntu. I've found a temporary solution.

1. Go to path-to-npm/node_modules/strongloop/node_modules/strong-pack/index.js,  add a new option key to the pack() method like:
![image](https://cloud.githubusercontent.com/assets/13462245/13311035/10f62e80-dbf0-11e5-9466-6eb2f0e11587.png)

Thi

[2016-02-25 12:37] gausie opened #321 "Error when strong-pm starts"
I'm getting this error in the logs when strong-pm starts.

[code]

I've previously run strong-pm without any issues of this kind. I updated and reinstalled strong-pm, and rebooted the server but still continue to get this error put into the logs every time it tries to restart.

[2016-02-25 15:41] rmg commented on #317
Great sleuthing, @XiaochenLi1984!

[2016-02-25 17:22] gausie commented on #321
It turned out that this was because my "current" symlink pointed to a non-existent directory.

[2016-02-25 17:22] #321 closed

[2016-02-26 21:20] cleever commented on #317
Thanks @rmg and @XiaochenLi1984 !

[2016-02-26 21:20] rmg commented on #317
@Lunigorn @gggin @cleever @XiaochenLi1984 sorry for the auto-close.

I've released strong-pack v1.0.1 which should fix this. It's a nested dependency of strong-build, so the best way to get it will be to run `npm install -g strongloop` on your Windows machines.

After that, `slc build` should work properly from Windows and allow you to deploy the generated tarballs to strong-pm.

@Lunigorn would y

[2016-02-26 22:33] XiaochenLi1984 commented on #317
@rmg Thanks, it works on my Windows.

[2016-02-27 06:51] Lunigorn commented on #317
@rmg Thanks, it works.

[2016-02-27 06:51] #317 closed

[2016-02-29 02:29] gggin commented on #317
@rmg Thanks, so great!

[2016-02-29 19:53] lkrnac commented on #263
+1

[2016-03-01 09:54] daankets commented on #226
Still doesn't work with node versions other than v11... Really a shame...

[2016-03-01 13:01] apikiakos commented on #226
@EthraZa Thanks, the rm before the general install did work for me !

[2016-03-02 00:09] sam-github commented on #226
@daankets do you mean v0.11? That's pretty much the only major node version we do NOT test with... if its not working for you, I suggest you log a bug with some description.

@EthraZa got 0.12.8 working. I just tried 4.2.2 (on linux) which he didn't have success with:

[code]

If sqlite is missing, then going back through your console logs to find where it was compiled would be helpful.

[2016-03-02 06:49] daankets commented on #226
I'm using à fresh minimal Ubuntu 14.04 server vm with all the latest kernel
and other updates, and only node js 5.7.0 and build-essentials installed.
Then:

sudo npm -g install strongloop
sudo slc pm-install
sudo service strong-pm start

So far so good. But:

'slc start' gives me the beforementioned error. My start script is just:

node server/server.js

Maybe I lack some binary dependency?

On 2

[2016-03-02 19:59] sam-github commented on #226
@daankets what's the beforementioned error? You mean:

[code]

?

When I install with that node version on ubuntu, I see

[code]

and all is well. Do you see something similar?

What happens when you just manually install sqlite3: `npm install sqlite3`?

[2016-03-02 20:02] daankets commented on #226
Oh, my! That did the trick! You’ve just made my day ;-) It works now ;-) cluster with 4 processes running!

With kind regards

Daan Kets
Development Manager
Delta Source, Bulgaria

On 2 March 2016 at 20:59:59, Sam Roberts (notifications@github.com) wrote:

@daankets what's the beforementioned error? You mean:

Error: Cannot find module '/usr/local/lib/node_modules/strongloop/node_modules/strong-me

[2016-03-03 05:48] daamsie commented on #316
I had the same issue. Found it deployed despite this error.

[2016-03-04 07:01] mike442144 commented on #320
I ran into the same problem,,,,,,,fuck GFW

[2016-03-04 08:43] gggin commented on #320
even cnpm means nothing。。。shit.

[2016-03-04 12:32] daankets opened #322 "[SUGGEST] Support for launchctl?"
As a lot of developers are on Mac these days (set-aside the use of docker and vagrant), wouldn't it be nice to support **[launchctl](https://developer.apple.com/library/mac/documentation/Darwin/Reference/ManPages/man1/launchctl.1.html)** as a service manager for strong-pm? It could be rather straightforward to add it I think?

[2016-03-04 14:40] sam-github commented on #322
I think so, too, just takes some time,,, perhaps you can take a shot at it? There are already the systemd and upstart examples, so the multi-svs manager path already exists.

[2016-03-04 18:00] CMendy opened #323 "Fresh install fails with "Cannot find module /loopback-connector-sqlite3/node_modules/sqlite3/lib/binding/node-v46-linux-x64/node_sqlite3.node""
on AWS i set up new EC2 instance runing Ubuntu Server 14.04 LTS, i run:

**curl -sL https://deb.nodesource.com/setup_4.x | sudo -E bash -
sudo apt-get install -y nodejs
sudo apt-get install -y build-essential
sudo npm install -g strong-pm
sudo sl-pm-install
sudo /sbin/initctl start strong-pm
slpmctl**

slpmctl returns Command "status" on "http://127.0.0.1:8701" failed with Error: connect ECONNREFU

[2016-03-04 18:17] CMendy commented on #323
I used the same step to set up my staging server a month ago and had no problems, looking at the files on that machine i see that strong-pm does not have the loopback-connector-sqlite3 module.

[2016-03-04 18:59] rmg commented on #323
The switch to sqlite3 as the store is a recent change. Where there any errors or warnings when you did `sudo npm install -g strong-pm`?

[2016-03-04 19:02] CMendy commented on #323
No errors at all :(
here is the log:
`sudo npm install -g strong-pm
npm WARN deprecated graceful-fs@3.0.8: graceful-fs version 3 and before will fail on newer node releases. Please update to graceful-fs@^4.0.0 as soon as possible.

gyp WARN EACCES user "root" does not have permission to access the dev dir "/home/ubuntu/.node-gyp/4.3.2"
gyp WARN EACCES attempting to reinstall using temporary dev di

[2016-03-04 20:21] Astor commented on #323
sudo npm install --unsafe-perm --verbose -g strong-pm , this is a permissions issue.

[2016-03-08 18:39] CMendy commented on #323
So this worked for me today on new EC2 instance:

**sudo apt-get update
sudo apt-get install build-essential sqlite git
curl -sL https://deb.nodesource.com/setup_4.x | sudo bash -
sudo apt-get install -y nodejs
sudo npm install -g strong-pm --unsafe-perm
sudo sl-pm-install
sudo /sbin/initctl start strong-pm**

**slpmctl**
reports : No services exist

**sudo cat /var/log/upstart/strong-pm.log**
rep

[2016-03-08 18:39] #323 closed

[2016-03-10 14:25] paulJordaan commented on #318
Any update @svennam92?

[2016-03-10 14:51] svennam92 commented on #318
Thanks for the reminder! I still need to investigate this support, I'll get back to you here shortly.

[2016-03-10 15:36] rmg commented on #322
It would be easy to add, but I'm curious what the value would be since the service installation is meant for production environments. If it was installed as a service on Mac, it would start up automatically, but if `slc start` was used to start your app then it likely wouldn't start your app when it starts up.

[2016-03-10 18:09] svennam92 commented on #318
From the [documentation](https://console.ng.bluemix.net/docs/containers/container_creating_ov.html#container_group_ui):
For container groups, you cannot include multiple ports.

Unfortunately, it looks like the ibm-node-strong-pm container does not have full support for container groups.  You could always still use the StrongLoop Process Manager to run the application in container groups (by exten

[2016-03-11 15:55] didikeke commented on #323
I have the same problem on a new Ubuntu Server 14.04 LTS 64bit server by the root user today, when I install it by "npm install -g strong-pm".

So I created a new instance and used

`npm install **--unsafe-perm** -g strong-pm`

then everything is going well.

@rmg I think this issue should be open again, because it is not the same flow as the document now. https://docs.strongloop.com/display/SLC/S

[2016-03-12 05:01] sam-github opened #324 "sqlite3 is a required dep, even when json db is being used"
its required via sl-pm.js requiring log/upgrade-db.js, which latter should only require sqlite3 if its doing an upgrade

its also required via Minkelite, which should have the sqlite module injected if it exists, not be a hard dep.

[2016-03-14 18:33] rmg commented on #323
@crandmck would you mind updating the docs to include the `--unsafe-perm` flag as a possible solution to some installation problems?

[2016-03-15 19:41] priyavivek1 opened #325 "Collect StrongPM metrics using any script"
Do we have any way to collect strong-pm metrics using any script. Currently, i understand all ways listed at below https://docs.strongloop.com/display/SLC/Monitoring+with+slc" and i am able to push metrics to influx db or Graphite using this.

But on Prod systems, we need to open ports for Databases like influx from each VM, which is not a approved process at our end.

Is there anyway to use any s

[2016-03-15 19:48] sam-github commented on #325
I've no idea what you mean by any script.

If you want to send them off-system, you need open ports.

You can write them to file if you don't want to open up ports, and then do whatever you want.

also, you can run etsy/statsd or something like that on the system, and write a backend to do whatever you want. Or just implement the statsd UDP protocol yourself, its very simple

[2016-03-17 22:04] alexxgathp opened #326 "Building and deploying successfully, but not sure if it is running."
I've been deploying loopback apps in an atypical manner, but decided to try out the strongloop arc and strong-pm.

I setup the strong-pm service on the production host, openSUSE 13.1.

I built and deployed successfully from tar.gz in arc.

I can see the controller and its explorer at 8701, but I do not see my API / app anywhere.

Plus, when looking at the status I get this (Notice the "disabled" p

[2016-03-17 22:12] alexxgathp commented on #326
I did an enable command... it says enabled instead of disabled, but the same error messages are showing, and I checked both 3000 and 3001. I'm not seeing anything a change...

[2016-03-17 22:15] alexxgathp commented on #326
Additional detail: I do not see it listening on a port.
[code]

[2016-03-17 22:28] alexxgathp commented on #326
Okay, so I restarted the service. No error messages. I deploy it with Strongloop Arc from my local, then the errors return. Something with the deploy seems to be amiss.
[code]

[2016-03-18 00:03] alexxgathp commented on #326
I restarted the service, and then I tried using the command-line version, instead of arc.
slc build --git
slc deploy http://IPADDRESS:8701

The results, still no api seen on 3000 to 3002:
[code]

[2016-03-18 21:25] masalinas opened #327 "socket.io integration"
I saw that I could use strong-cluster-socket.io-store but only using with the native cluster implementation.

But how can I integrate socket.io with strong-pm??, is it possible?

Regards.

[2016-03-18 23:09] sam-github commented on #327
Possible, strong-pm neither helps nor hinders (what protocols you use over your HTTP port are wholly irrelevant to it). If you have a socket.io app, it will work.

[2016-03-18 23:09] #327 closed

[2016-03-19 18:53] masalinas commented on #327
I'm testing your [loopback-example-socket.io-chat](https://github.com/makersu/loopback-example-socket.io-chat) test example I start this example under strongloop-pm with two cluster nodes on 3001 port example. If execute the command slc ctl you'll see:

Service ID: 1
Service Name: loopbackchat
Environment variables:
  No environment variables defined
Instances:
    Version  Agent version  Debugger

[2016-03-20 02:20] crandmck commented on #323
Added a note to https://docs.strongloop.com/display/SLC/Setting+up+a+production+host#Settingupaproductionhost-Installnpmpackage.  There's already a similar note in https://docs.strongloop.com/display/SL/Installation+troubleshooting#Installationtroubleshooting-Makesureyouhavesufficientfileprivileges for installing `strongloop`.

If that looks sufficient, please close the issue.

[2016-03-20 15:45] masalinas opened #328 "socket.io deploy under strong-pm with nginx proxy server problems"
I'm testing the strongloop chat test app: loopback-example-socket.io-chat. I deployed under strong-pm (5.0.1) with two workers like this:

Service ID: 1
Service Name: loopbackchat
Environment variables:
  No environment variables defined
Instances:
    Version  Agent version  Debugger version  Cluster size  Driver metadata
     5.0.1       2.0.2            1.0.0             2             N/A
Proce

[2016-03-20 16:01] masalinas commented on #97
It's possible use my socket.io apps controlled by strong-pm and proxy with nginx???. Exist any example for that??

[2016-03-21 03:55] JoeShi opened #329 "slcpmctrl ls command aborted"
I found I cannot successfully deploy the application quite often, so I log into my server and type.

[code]

and the console shows me

[code]

How can I solve this, it does not show up any additional information.

[2016-03-21 19:09] despairblue opened #330 "ENOMEM takes down strong-pm in a way that upstart is not restarting it"
We had a couple of graphics magick jobs running wild, so that the kernel eventually killed one of them. That somehow tear down the whole node server, including strong-pm, in a way that upstart never restarted it.

[Logs](https://gist.github.com/despairblue/1bf870bbeea58aaddbad):
* Strong-pm shut down at 16:50:19 and
* restarted (by issuing `sudo service strong-pm restart`) at 17:52:11.

I'm not co

[2016-03-21 19:49] priyavivek1 opened #331 "Need a configurable time-interval for strong-PM metrics"
As part of monitoring implementation, We are storing the application metrics in Influx db. By default, its pushed every 15 seconds. We need to push this every 5 minutes as per our NFRs.

So, would be good if we can configure this time while we plan to push metrics to either influx, log file or any other backend.

[2016-03-24 15:58] JoeShi commented on #320
I confirm!!!!  the shit GFW.

[2016-03-25 02:32] JoeShi opened #332 "Is there anyway to use other version of sqlite3 instead of the latest"
[code]

[2016-03-25 04:41] JoeShi opened #333 "Strong-pm launch successfully, but cannot connect to it"
I can run `sudo initctl status strong-pm`  to check the status, seems like it is running properly.

[code]

But when I run
[code]

I got error

[code]

OS: aws linux
nodejs: 4.4.1

Where can I find the log file of strong-pm?? Maybe I can check the log file.

[2016-03-25 04:44] JoeShi commented on #333
I use `sudo sl-pm-install --upstart=0.6`, I want to known where is the strong-pm config file and the log. I cannot find docs saying that.

[2016-03-25 14:13] sam-github commented on #332
You don't have permissions to install sqlite3 (or any binary addons). Run with `npm install --unsafe-perm`.

npm is, for your own security, dropping root privileges before running the install scripts. But, that means the install scripts run as user `nobody`, and that user can't write files to /root, so... you can't install.

[2016-03-25 14:13] #332 closed

[2016-03-29 21:04] #305 closed

[2016-03-29 21:13] sam-github commented on #330
cc: @rmg

[2016-03-29 21:15] #325 closed

[2016-03-29 22:05] rmg commented on #330
Interesting... It looks like the strong-pm process itself may not have actually crashed.. It certainly lost the ability to respawn workers, though.

@despairblue for completeness, are you able to sanitize and attach `/etc/init/strong-pm.conf`? This appears to be running on Ubuntu 14.04 or newer. Can you confirm? The version of node would probably also be helpful for anyone attempting to reproduce

[2016-03-30 08:37] JoeShi commented on #333
Thank you @sam-github , I have solved this problem, strong-pm cannot launch because the `sqlite3` module does not installed correctly.

[2016-03-30 08:38] #333 closed

[2016-03-30 10:05] JoeShi opened #334 "What is the drawback of install with --unsafe-perm"
What is the cons of install with `--unsafe-perm`?

I run the following command to install the strong-pm on aws linux. After running these commands I cannot launch strong-pm. I need to append `--unsafe-perm` in step 2.

1. `sudo npm install -g strong-pm`
2. `sudo sl-pm-install --upstart=0.6 --set-env NODE_ENV=production`
3. `sudo /sbin/initctl start strong-pm`

The console says `strong-pm start/run

[2016-03-30 12:30] despairblue commented on #330
@rmg Thanks for looking into this.

Yeah
[code]

Not sure what to sanitize in here, it does not seem to contain any secret information :confused:
[code]

[code]

[2016-03-30 17:02] didikeke commented on #320
Tested in a fresh 64bit ubuntu 14.04 Qingdao(青岛) server without SS and VPN. I have installed strong-pm successfully today.

I see Sqlite3 was blocked before.  However, you can check it again now. if it is unblocked, please close the issue.

[2016-03-30 21:13] sam-github commented on #334
- con: install scripts are run as root, and you probably did not read them all to make sure they are safe
- pro: without them, no install script can write to disk in its own module folder, so unless the install script does nothing but print some things to standard out, the modules you need will not install

If you hate the idea, use nvm, and then you don't need sudo. Of course, you are still runni

[2016-03-30 21:13] #334 closed

[2016-03-31 02:50] JoeShi commented on #320
@didikeke  I tested today with CentOS 7.0 in Shanghai without VPN failed. But with VPN. I install successfully.